<!--<h1 class="centerxd" style="padding-left: 3.5rem; padding-right: 3.5rem;">BITÁCORA DE RAYOS X</h1>

<div class="col-md-12" style="padding-left: 3.5rem; padding-right: 3.5rem;">
    <input type="text" placeholder="Buscar" class="form-control" id="buscador" style="border-radius: 20px;">
</div>

<br>-->
<div class="container-fluid">
    <h1 h1 class="centerxd">BITÁCORA DE RAYOS X</h1>
</div>

<section class="row">

    <div class="col-md offset-md-5">
        <button class="btn" style="color: aliceblue;" (click)="imp()">IMPRIMIR</button>

    </div>

</section>

<div class="center">
    <section style="padding-left: 3.5rem; padding-right: 3.5rem;">
        <div class="card" name="card" id="card" style="border-radius: 30px;">
            <div class="card-header header">
                <div class="row">
                    <div class="col text_header">
                        <p> # </p>
                    </div>
                    <div class="col text_header">
                        <p>Fecha</p>
                    </div>
                    <div class="col text_header">
                        <p>Nombre</p>
                    </div>
                    <div class="col text_header">
                        <p>Edad</p>
                    </div>
                    <div class="col text_header">
                        <p>Sexo</p>
                    </div>
                    <div class="col text_header">
                        <p>Sede</p>
                    </div>
                    <div class="col text_header">
                        <p>Estudio</p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div *ngFor="let t of consultas |
                paginate:{id:'listaAmbulancia',
                    itemsPerPage: 3 ,
                    currentPage:pagina,
                    totalItems:totalAmbulancia} ; let i = index">
                    <div class="row" [routerLink]="['/hoja/rayos/x', t._id]">

                        <div class="col color">
                            <p> {{ i +1 }} </p>
                        </div>

                        <div class="col color">
                            <p> {{t.fechaDePedidoDeLosExamenes|date}} </p>
                        </div>

                        <div class="col color">
                            <p>{{t.idPaciente.nombrePaciente}} {{t.idPaciente.apellidoPaterno}}
                                {{t.idPaciente.apellidoMaterno}} </p>
                        </div>

                        <div class="col color">
                            <p> {{t.idPaciente.edad}} </p>
                        </div>

                        <div class="col color">
                            <p> {{t.idPaciente.genero | generos:true }} </p>
                        </div>

                        <div class="col color">
                            <p> {{t.sede}} </p>
                        </div>

                        <div class="col color">
                            <p> {{t.estudios[0].nombreEstudio}} </p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="offset-md-1">
                <pagination-controls class="paginador" id="listaAmbulancia" maxSize="10" directionLinks="true"
                    (pageChange)="pagina = $event"></pagination-controls>
            </div>
        </div>
    </section>
</div>

<!--codigo anterior-->
<!--<P class="pSVY">
    BITÁCORA DE RAYOS X
</P>-->

<!--<table class="table table-hover tableSVY">
    <thead class="theadSVY">
        <tr>
            <th scope="col"> # </th>
            <th scope="col"> Fecha </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Edad </th>
            <th scope="col"> Sexo </th>
            <th scope="col"> Sede </th>
            <th scope="col"> Estudio </th>

        </tr>
    </thead>
    <tbody class="tbodySVY">
        <tr *ngFor="let t of consultas; let i = index">
            <td> {{ i +1 }} </td>
            <th>{{t.fechaDePedidoDeLosExamenes|date}}</th>
            <th [routerLink]="['/hoja/rayos/x', t._id]">{{t.idPaciente.nombrePaciente}} {{t.idPaciente.apellidoPaterno}} {{t.idPaciente.apellidoMaterno}}</th>
            <th>{{t.idPaciente.edad}}</th>
            <th> {{t.idPaciente.genero | generos:true }}</th>
            <th>{{t.sede}}</th>-->
<!-- <th></th> -->
<!--<th>{{t.estudios[0].nombreEstudio}}</th>

            </tr>

    </tbody>
</table>-->