.pSVY {
    font-style: italic;
    color: #001672;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.tableSVY {
    box-shadow: 5px 5px 10px #999;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    direction: none;
    margin-top: 5%;
}

.theadSVY {
    background-color: #03318C;
    text-align: center;
    color: white;
}

.tbodySVY {
    background-color: white;
    text-align: center;
    color: black;
}

.btn {
    margin-left: 50%;
    border-radius: 120px;
    background-color: rgb(108, 238, 108);
    margin-block-end: 10px;
    padding: 0.7rem;
}


/*para el sombreado*/

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}