<div class="container animate bounceInLeft">
    <h2 class="text-center"></h2>

        <ficha-info-user [pacienteInfo]="pacienteInfo"></ficha-info-user>

    <div class="card" id="card">
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-secondary mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-folder-plus"></i> Agregar consulta
                </button>
                  <!-- <button class="btn btn-danger mb-2">
                  <i class="fas fa-file-pdf"></i> Descargar PDF
                </button> -->

                <div class="btn mb-2">
                  <select name="servicio" class="form-control" id="" #servicio (change)="irAUnServicio( servicio.value  )">
                      <option   value="" selected> Selecciona un servicio  </option>
                      <option   value="ambulancia"> Ambulancia</option>
                      <option   value="consulta"  > Consulta General </option>
                      <option   value="consultaEspecialista">  Consulta con especialista </option>
                      <option   value="endoscopia"> Endoscopia</option>
                      <!-- <option   value="resultados"> Entraga de resultados </option>  -->
                      <!-- <option   value="farmacia">   Farmacia </option>  -->
                      <!-- <option   value="hospitalizacion"> Hospitalización</option>  -->
                      <option   value="laboratorio"> Laboratorio</option>
                      <option   value="quirofano">  Quirofano</option>
                      <option   value="xray">     Rayos x</option>
                      <option   value="resonancia"> Resonancia</option>
                      <option   value="tomografias"> Tomografias</option>
                      <!-- <option   value="TrabajoSocial" > Trabajo Social  </option> -->
                      <option   value="ultrasonido"> Ultrasonido</option>
                      <!-- <option   value="urgencias"> Urgencias</option>  -->
                      <option   value="otros"> Otros </option> 
                    </select>
              </div>
              
                  <div class="collapse mb-4" id="collapseExample">
                      <div class="card card-body">
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <td>
                                          <select class="form-control" #select (change)="seleccion($event, select.value)" [(ngModel)]="consultas.tipo">
                                              <option value="" selected>Tipo de consulta o estudio...</option>
                                              <option value="visitas">Citas incluidas</option>
                                              <option value="laboratorio">Estudios de laboratorio</option>
                                              <option value="ultrasonido">Estudios de ultrasonido</option>
                                              <!-- <option value="4">Extras</option> -->
                                        </select>
                                          <p class="text-danger">*No puedes agregar más consultas</p>
                                      </td>
                                      <td>
                                          <select class="form-control" #selectCon [(ngModel)]="consultas.consulta">
                                            <option value="" selected>Concepto...</option>
                                            <option [value]="item" *ngFor="let item of concepto">{{ item }}</option>
                                        </select>
                                      </td>
                                      <td>
                                          <select class="form-control" [(ngModel)]="consultas.medico">
                                            <option value="" selected>Medico...</option>
                                            <option [value]="medico.nombre" *ngFor="let medico of medicos">{{ medico.nombre }}</option>
                                        </select>
                                      </td>
                                      <td><input type="text" class="form-control" placeholder="Firma..." [(ngModel)]="consultas.firma"></td>
                                      <td>
                                          <button class="btn btn-warning" (click)="agregarConsulta()">Agregar</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              
            </div>
            <div class="col-md-3">
                <img [src]="item.paquete.icon" *ngFor="let item of paquete" class="img-fluid">
            </div>
        </div>
        <div class="row">  
                <div class="container-fluid">

                    <div class="p-3 mb-2 bg-success text-white">
                        Citas incluidas
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" id="cardEspecialista" style="cursor: pointer;" (click)="showMessage('7 Consultas programadas con el Especialista')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeEspecialista"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 7 Consultas programadas con el Especialista </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="cardNutricion" (click)="showMessage('3 consultas de Nutrición')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeNutricion"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 3 consultas de Nutrición </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                
                    <div class="mt-5 p-3 mb-2 bg-primary text-white">
                        Estudios de laboratorio
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" id="LabCard" style="cursor: pointer;" (click)="showMessage('17 Exámenes de laboratorio')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeLab"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 17 Exámenes de laboratorio </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="BHCCard" (click)="showMessage('1 Biometría Hemática Completa ')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeBHC"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Biometría Hemática Completa  </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" id="QSCard" style="cursor: pointer;" (click)="showMessage('1 QS 6 (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Triglicéridos)')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeQS"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 QS 6 (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Triglicéridos) </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="EGOCard" (click)="showMessage('3 Exámenes Generales de Orina')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeEGO"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 3 Exámenes Generales de Orina </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" id="VDRLCard" style="cursor: pointer;" (click)="showMessage('1 V.D.R.L.')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeVDRL"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 V.D.R.L. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="VIHCard" (click)="showMessage('1 V.I.H.')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeVIH"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 V.I.H. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="GSACard" (click)="showMessage('2 Grupos Sanguíneos (Ambos padres)')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeGSA"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 2 Grupos Sanguíneos (Ambos padres) </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="TCCard" (click)="showMessage('1 Tiempos de Coagulación')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeTC"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Tiempos de Coagulación </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="CTGCard" (click)="showMessage('1 Curva de tolerancia a la glucosa')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeCTG"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Curva de tolerancia a la glucosa </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="PFHCard" (click)="showMessage('1 Pruebas de funcionamiento hepático')">
                                    <div class="card-body">
                                        <span class="badge" id="badgePFH"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Pruebas de funcionamiento hepático </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="DPOCard" (click)="showMessage('1 Depuración de proteínas en orina de 24 horas')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeDPO"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Depuración de proteínas en orina de 24 horas </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="TripleCard" (click)="showMessage('1 Triple ')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeTriple"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Triple  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="PTCard" (click)="showMessage('1 Perfil tiroideo')">
                                    <div class="card-body">
                                        <span class="badge" id="badgePT"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Perfil tiroideo </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="UrocultivoCard" (click)="showMessage('1 Urocultivo')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeUrocultivo"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Urocultivo </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="EVCard" (click)="showMessage('1 Exudado vaginal')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeEV"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Exudado vaginal </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="mt-5 p-3 mb-2 bg-info text-white">
                        Estudios de ultrasonido
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" id="UltrasonidoObsCard" style="cursor: pointer;" (click)="showMessage('8 ultrasonidos Obstétricos')">
                                    <div class="card-body">
                                        <span class="badge" id="badegeUltrasonidoObs"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 8 ultrasonidos Obstétricos </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="HigadoCard" (click)="showMessage('1 higado y Via Biliar')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeHigado"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 higado y Via Biliar </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" id="obstetricosCard" style="cursor: pointer;" (click)="showMessage('4 Obstétricos')">
                                    <div class="card-body">
                                        <span class="badge" id="badegeObstetricos"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 4 Obstétricos </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="GeneticoCard" (click)="showMessage('1 Genetico (11-13.6 SDG)')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeGenetico"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Genetico (11-13.6 SDG) </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" id="EstructuralCard" style="cursor: pointer;" (click)="showMessage('1 Estructural (  18- 24 SDG)')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeEstructural"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Estructural (  18- 24 SDG) </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="BiofisicoCard" (click)="showMessage('1 Perfil biofisico (Ultimo trimestre)')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeBiofisico"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Perfil biofisico (Ultimo trimestre) </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div> 

        </div>
    </div>
</div>
