i{
    margin-left: 1.5rem;
    font-size:1.5rem;
    cursor:pointer;
}

h2 { 
    font-size: 2rem;
}

.grayColor {
    color:#686A8F;
    font-weight:600;
}

.card{
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}

button {
    width: 100%;
    border-radius: 2rem;
    border: none;
    color: white;
    padding:0.3rem;
}

.dispaly-block {
    display: block;
}

.dispaly-none {
    display: none;
}
section{
    background-color:#C4C4C4;
}

h2 > i { 

    margin-top: 0.6rem;
    margin-bottom:0.2rem;
    display: block;
    font-size: 5.5rem;   
    color: #FA7312;

}