.card{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
label{
    color:black;
}
.form-control{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.form-select{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.btn{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}