.container-fluid{
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
h1{
    color: #999;
}
.centerxd{
    font-style: italic;
    font-weight: bold;
    font-size: 2.2rem;
}
.card{
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}
.container{
    margin-top: 1rem;
}
.card-heder{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #00ACD8;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}
.card-heder .row p{
    font-size: 1rem;
}
.card-body{
    height: 30rem;
}
.nombre{
    font-size: 15px;
    text-align: center;
}
.card-footer{
    border: none !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}