.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 1%;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
    width: 100%;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.form-control {
    margin-left: 2%;
}

.otherSVY {
    outline: none;
    /* float: right; */
    display: inline-block;
}