<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2> AGREGAR DISPONENTE </h2>
        </div>
    </div>
    <app-registrar-disponente></app-registrar-disponente>
</div>