.ahorro {
    color: green;
}

.btn-secondary {
    margin-left: 100%;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}