#content {
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-spinner {
    width: 5rem;
    height: 5rem;
}

#img-fluid {
    cursor: pointer;
    width: 10em;
    height: 10em;
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#card {
    /* //margin-left: 9em; */
    border-color: white;
    border-radius: 2em;
    /* box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 80% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

#img2 {
    max-width: 85% !important;
    display: block;
    margin: auto;
}

#h2 {
    color: #001672;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    font-size: 123%;
}

a {
    color: white !important;
}

.primary {
    color: #4e73df;
}


/* Responsive design */

@media(max-width:575px) {
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 80% !important;
        margin-bottom: 1em;
    }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #h2 {
        color: #00acd8;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #h2 {
        color: #00acd8;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 70% !important;
        margin-bottom: 1em;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #h2 {
        color: #00acd8;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
    #img2 {
        max-width: 90% !important;
        display: block;
        margin: auto;
    }
    #card {
        /* //margin-left: 9em; */
        border-color: white;
        border-radius: 2em;
        /* //box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 85% !important;
        /* //height: 17em; */
        margin-bottom: 3em;
        /* //display: inline-block !important; */
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 3;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 40%;
    }
    #card {
        /* //margin-left: 9em; */
        border-color: white;
        border-radius: 2em;
        /* //box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        /* //height: 17em; */
        width: 85% !important;
        margin: 2em;
        /* //display: inline-block !important; */
    }
    #img2 {
        max-width: 90% !important;
        display: block;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 20%;
    }
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 75% !important;
        margin: 2em;
    }
    #img2 {
        max-width: 85% !important;
        display: block;
        margin: auto;
    }
    #h2 {
        color: #00acd8;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
}