<!-- ESTAS CARDS SON LAS DE LOS MODULOS    -->

<div id="content">

    <div class="card-columns animate bounceIn">

        <a [routerLink]="module.modules.route" *ngFor="let module of modules | paginate:{id:'listaAmbulancia',
        itemsPerPage: 8 ,
        currentPage:pagina,
        totalItems:totalAmbulancia}">
            <div class="card" id="card">
                <img [src]="module.modules.icon" id="img2" [routerLink]="module.modules.route">
                <h2 id="h2">{{ module.modules.nameModule}}</h2>
            </div>
        </a>
    </div>
</div>
<div class="offset-md-4">
    <pagination-controls class="paginador" id="listaAmbulancia" maxSize="10" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
</div>