.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}

#pointer {
    cursor: pointer;
}

#busquedaPaciente{
    height: 45px;
    box-shadow: 3px 3px 10px #686A8F;
    border-radius: 18px;
}