<div class="container-fluid">
    <h1 class="centerxd">ORDEN DE SERVICIOS DE RECEPTORES</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" [(ngModel)]="filtropacientes" class="form-control" id="busquedaPaciente" (keyup)="typeSearchPatients()">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-xs-1 text_header" style="text-align: left; margin-left: 15px;">
                            <p>No.</p>
                        </div>

                        <div class="col text_header">
                            <p>NOMBRE</p>
                        </div>
                        <div class="col text_header">
                            <p>ID</p>
                        </div>
                        <div class="col text_header">
                            <p>EDAD</p>
                        </div>
                        <div class="col text_header">
                            <p>GÉNERO</p>
                        </div>
                        <div class="col text_header">
                            <p>LUGAR DE ORIGEN</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngFor="let item of pedidos; let i = index">
                        <div class="row" id="pointer" [routerLink]="['/hojaservicios/receptor' ,item.pedido.pedido]">
                            <div class="col-xs-1" style="text-align: left;">
                                <p>
                                    {{i + 1}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   {{item.paciente.nombrePaciente}} {{item.paciente.apellidoPaterno}} {{item.paciente.apellidoMaterno}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.paciente.curp}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.paciente.edad}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.paciente.genero}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    PAQUETE MATERNIDAD
                                </p>
                            </div>
                        </div>

                    </div>

                    <!-- <div *ngIf="pacientes2 == []">
                        <p>
                            Aún no hay pacientes registrados
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>