<header class="noprint">
    <h2 class="ml-5 title" > AGREGAR PRODUCTOS </h2>
</header>

<section class="noprint" >
    
    <app-ficha-indentificaciosproductos-almacen  [dataFiProducto]="dataFi"  ></app-ficha-indentificaciosproductos-almacen>

</section>

<section class="mt-4 noprint">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="row mt-2">
                    <div class="col-md-12">

                        <div class="row mb-2">
                            
                            <div class="col-md-2">
                                <p class="text-body color-text-black">
                                    COSTO
                                </p>                               
                            </div>
                            <div class="col-md-4">
                                <input type="number" min="0" name="precioReal"  [(ngModel)]="productoData.costoReal"  class="form-control"   />
                            </div>

                            <div class="col-md-2">
                                <p class="text-body color-text-black">
                                    PRECIO
                                </p>                               
                            </div>
                            <div class="col-md-4">
                                <input type="number" min="1" name="precioVenta" [(ngModel)]="productoData.precioVenta" class="form-control" />
                            </div>

                   
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row mb-2">
                            
                            <div class="col-md-2">
                                <p class="text-body color-text-black">
                                    LOTE
                                </p>

                            </div>
                            <div class="col-md-4">
                                <input type="text" name="lote"  [(ngModel)]="productoData.lote"  class="form-control"  />
                            </div>
                            <div class="col-md-2">
                                <p class="text-body">
                                    CANTIDAD
                                </p>

                            </div>
                            <div class="col-md-4">
                                <input type="number" name="cantidad" [(ngModel)]="productoData.cantidad"  min="1" class="form-control"  />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="row mb-2">
                            <div class="col-md-2">
                                <p class="text-body">
                                    PROVEEDOR
                                </p>

                            </div>
                            <div class="col-md-4">
                                <select name="proveedor" [(ngModel)]="productoData.proveedor"  class="form-control">
                                    <option value=""  > Selecciona un proveedor </option>
                                    <option [value]="proveedor.razonSocial"  *ngFor="let proveedor of proveedores">  {{ proveedor.nombreEmpresa }} </option>
                                </select>
                                <!-- <input type="text"   /> -->
                            </div>

                            <div class="col-md-2">
                                <p class="text-body color-text-black">
                                    FECHA DE CADUCIDAD
                                </p>                               
                            </div>
                            <div class="col-md-4">
                                <input type="date" name="fecha" [(ngModel)]="productoData.fecha_caducidad" class="form-control" />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-2">
                                <p class="text-body">
                                    FACTURA
                                </p>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="factura" [(ngModel)]="productoData.factura" class="form-control" (blur)="validateForm()"  />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="">
                    <header class="color-bg-blue mt-2" >
                        <div class="row">
                            <div class="col-md-1">
                                <p class="text-header-white pl-3"> No </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-header-white"> ID </p>
                            </div>
                            <div class="col-md-1">
                                <p class="text-header-white"> LOTE </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-header-white"> LOTE UNITARIO </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-header-white"> PROVEEDOR </p>
                            </div>
                            <div class="col-md-1">
                                <p class="text-header-white"> FACTURA </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-header-white"> QR </p>
                            </div>
                            <div class="col-md-1">
                                <p class="text-header-white"> ETIQUETA </p>
                            </div>
                        </div>
                    </header>
                    <section>
                        <div  *ngIf="productos.length === 0" >
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <p  class="text-center" >
                                        No hay prpoductos en Stock
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="productos.length > 0" >
                            <div class="row"  *ngFor="let product of productos; let i = index"  >
                                <div class="col-md-1">
                                    <p class="text-header-black pl-3"> {{ i +1 }} </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-header-black"> {{ product._id }} </p>
                                </div>
                                <div class="col-md-1">
                                    <p class="text-header-black"> {{ product.lote }} </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-header-black"> {{product.lote_unitario}} </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-header-black"> {{ product.proveedor }} </p>
                                </div>
                                <div class="col-md-1">
                                    <p class="text-header-black"> {{ product.factura }} </p>
                                </div>
                                <div class="col-md-2">
    
                                    <img class="img-responsive" [src]="product.codeQr_img"  #imgElement />
                                </div>

                                <div class="col-md-1 pointer" >
                                    <p class="text-header-black"  [ngClass]="{'colorRedDownloaded':  product.downloaded== true }"   (click)="imprimirEtiquetaIndividual(imgElement, product._id )"> 
                                        <i class="fas fa-download"></i>    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="row mt-4 noprint">
    <div class="offset-md-4 col-md-2">
        <button class="btn btn-product btn-block color-bg-blue" (click)="registrarProductoEnStock()"  [disabled]="btnValidate" > Agregar </button>
    </div>
    <div class="col-md-2">
        <button  class="btn btn-product btn-block color-bg-blue"   (click)="printImgQr()" >Descargar</button>
    </div>
</section>


<section class="display-none" id="sppiner-section" >
    <div class="row">
        <div class="sppiner-bg">
            <div class="spinner-stock">
                <div class="col-md-12">
                    <app-sppiner></app-sppiner>
                </div>
            </div>
    
        </div>
    </div>

</section>