.title {
    font-weight: 600;
    font-size: 1.9rem;
    color: #686A8F;
    margin-bottom:0.3rem;
}

.text-body {
    font-size:1rem;
    font-weight: 400;
    color:black !important;
}
.card {
    padding: 0.5rem 0.8rem;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    border-radius:1.2rem;
}

.form-control { 
    /* padding: 0.2rem; */
    border:none;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    border-radius:0.8rem;
    height:2rem;
    margin-bottom: 0.6rem;
}


.color-bg-blue {
    background-color:#007CC3;
    width: 100%;
}

.text-header-white{
    color: white;
}

p{
    margin-bottom: 0;
    padding: 0.2rem 0;
    text-align: center;
}

.text-header-black{
    color: black;
}


.img-responsive{
    max-width: 60%;
    width: 60%;
    margin-left: 1.8rem;
}


.btn-product{
    color: white;
    border-radius: 3rem;
}


.img-to-print{
    width: 20rem;
    height: 20rem;
}

i{
    margin-top: 25%;
    margin-right: 30%;
    font-size:3rem;
    color: #13B42D;
}

.colorRedDownloaded > i{
    color: red;
}

.display-none{ 

    display: none;
}

.display-block{
    display: block;
}

.spinner-stock{
    position: fixed;
    height:100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background :rgba(196, 196, 196, 0.5);
}

@media print{
    .no-print-body{ 
        display: none;
    }
}