<!--FORMULARIO, AGRAGR NUEVO EN LA PARTE DE AGREGAR UN NUEVO PACIENTE, SE QUITARON LAS FALTAS DE ORTOGRAFÍA EN ESTE FORM -->


<!-- 06/03/21 SE REALIZARON LOS CAMBIOS CORRESPONDIENTES COMO: TODAS LAS LETRAS A MAYUSCULAS
Y AGREGAR CONYUGUE EN PARENTESCO -->
<div class="card" style="border-radius: 30px; margin-left: 25px;">


<form #form='ngForm'>
    <mat-horizontal-stepper linear #stepper style="background: none;">
        <mat-step label="DATOS PERSONALES">

            <h3>
                PERSONALES
            </h3>
            <div class="row">
                <div class="col-md-3">

                    <mat-label> NOMBRES (S) </mat-label>

                </div>

                <div class="col-md-3">
                    <input matInput maxlength="50" type="text" required name="nombrePaciente" ngModel id="nombre" class="form-control">
                </div>

                <div class="col-md-3">

                    <label for="apellidoPaterno">  APELLIDO PATERNO </label>


                </div>
                <div class="col-md-3">

                    <input type="text" maxlength="70" required ngModel name="apellidoPaterno" id="apellidoPaterno" class="form-control">

                </div>
                <div class="col-md-3">

                    <label for="apellidoMaterno">  APELLIDO MATERNO </label>


                </div>
                <div class="col-md-3">

                    <input type="text" maxlength="70" required ngModel name="apellidoMaterno" id="apellidoMaterno" class="form-control">

                </div>


                <div class="col-md-3">

                    <label for="curp">  CURP

                     <br>
                      <a href="https://www.gob.mx/curp/"   target="_blank"  >    CONSULTAR CURP </a>
                    </label>


                </div>
                <div class="col-md-3">

                    <input type="text" maxlength="18" ngModel name="curp" id="curp" class="form-control">

                </div>



                <div class="col-md-3">

                    <label for="lugarOrigen">  LUGAR DE ORIGEN </label>


                </div>
                <div class="col-md-3">

                    <select name="lugarOrigen" ngModel id="lugarOrigen" class="form-control">
                    <option value="" selected>  SELECCIONA PAÍS </option>
                    <option [value]="pais.name"  *ngFor="let pais of paises" >  {{  pais.name }} </option>
              </select>

                </div>
                <div class="col-md-3">

                    <label for="fechaNacimiento">  FECHA DE NACIMIENTO </label>


                </div>
                <div class="col-md-3">

                    <input type="date" #edadForm (blur)="generarEdad(edadForm)" ngModel name="fechaNacimiento" id="fechaNacimiento" class="form-control">

                </div>


                <div class="col-md-3">
                    <label for="edad"> EDAD</label>
                </div>

                <div class="col-md-3">
                    <input type="string" min="0" max="150" ngModel name="edad" id="edad" min="0" max="3" class="form-control">
                </div>

                <div class="col-md-3">
                    <label for="telefono"> TELÉFONO </label>
                </div>

                <div class="col-md-3">
                    <input type="number" maxlength="10" ngModel name="telefono" id="telefono" class="form-control">
                </div>


                <div class="col-md-3">
                    <label for="estadoCivil"> ESTADO CIVIL </label>
                </div>

                <div class="col-md-3">


                    <select name="estadoCivil" id="Paciente" class="form-control">
                        <option value="UNION LIBRE" >  UNIÓN LIBRE </option>
                        <option value="CASADO">  CASADO  </option>
                        <option value="SOLTERO">  SOLTERO  </option>
                        <option value="VIUDO">  VIUDO </option>
                    </select>

                </div>

                <div class="col-md-3">
                    <label for="genero"> GÉNERO </label>
                </div>

                <div class="col-md-3">

                    <select name="genero" required ngModel id="genero" class="form-control">
                        <option value="FEMENINO">  FEMENINO </option>
                        <option value="MASCULINO"> MASCULINO </option>
                    </select>

                </div>

                <div class="col-md-3">
                    <label for="correoPaciente"> CORREO </label>
                </div>
                <div class="col-md-9">
                    <input type="email" maxlength="100" ngModel name="correoPaciente" id="correoPaciente" class="form-control">
                </div>



                <div class="col-md-12">
                    <h3>
                        DIRECCIÓN
                    </h3>
                </div>

                                <div class="col-md-3">
                    <label for="calle"> CALLE </label>
                </div>

                <div class="col-md-3">
                    <input type="text" ngModel name="callePaciente" id="calle" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="numeroInterior"> N° EXTERIOR </label>
                </div>

                <div class="col-md-3">
                    <input type="text" ngModel name="numeroPaciente" id="numeroInterior" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="codigoPostal"> CÓDIGO POSTAL </label>
                </div>

                <div class="col-md-3">
                    <input maxlength="5" type="text" ngModel name="codigoPostal" id="codigoPostal" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="paisActual"> PAÍS </label>
                </div>

                <div class="col-md-3">
                    <input ngModel type="text" name="paisActual" id="paisActual" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="estado"> ESTADO </label>
                </div>

                <div class="col-md-3">
                    <select name="estadoPaciente" class="form-control" id="" [(ngModel)]="estado" (change)="buscarMunicipios()">
                        <option [value]="estado" *ngFor="let estado of estados"    >   {{ estado }}  </option>
                    </select>
                </div>





                <!-- inicia el pais  y la localidad -->

  

                <div class="col-md-3">
                    <label for="localidad"> MUNICIPIO</label>
                </div>

                <div class="col-md-3">
                    <select name="municipio" id="municipio" class="form-control" ngModel>
                     <option value=""  *ngFor="let item of municipios" > {{ item  }} </option>
                   </select>
                </div>

                <!-- termina la localidad  -->

                <!-- inicia calle y número -->



 


                <!-- termina calle y numero -->

                <!-- inician las referencias -->

                <div class="col-md-3">
                    <label for="referencia1"> REFERENCIA 1 </label>
                </div>

                <div class="col-md-3">
                    <input ngModel type="text" name="referencia1" id="referencia1" class="form-control">
                </div>

                <div class="col-md-3">
                    <label for="referencia2"> REFERENCIA 2 </label>
                </div>

                <div class="col-md-3">
                    <input ngModel type="text" name="referencia2" id="referencia2" class="form-control">
                </div>
            </div>
        </mat-step>
        <mat-step label="DATOS FISCALES">
            <div class="row">

                <div class="col-md-12">
                    <h3>
                        DATOS FISCALES
                    </h3>
                </div>

            </div>



            <div class="row">
                <!-- Inician los datos fiscales -->

                <div class="col-md-2 offset-1">
                    <label for="razonSocial">  RAZÓN SOCIAL </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="razonSocial" ngModel id="razonSocial" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="rfcRazonSocial">  RFC </label>
                </div>

                <div class="col-md-3">
                    <input type="text" maxlength="13" name="razoncocial1RFC" ngModel id="razoncocial1RFC" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="cpRazonSocial"> C.P </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="cpRazonSocial" ngModel id="cpRazonSocial" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="estadoRazonSocial">  ESTADO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="estadoRazonSocial" ngModel id="estadoRazonSocial" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="municipioRazonSocial"> MUNICIPIO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="municipioRazonSocial" ngModel id="municipioRazonSocial" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="localidadRazonSocial"> CALLE </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="razonSocial1Calle" ngModel id="razonSocial1Calle" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="correoRazonSocial"> CORREO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="correoRazonSocial" ngModel id="correoRazonSocial" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="calleRazonSocial">  CALLE </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="calleRazonSocial" ngModel id="calleRazonSocial" class="form-control">
                </div>


                <!-- terminan los datos fiscales  -->


            </div>
            <hr>

            <div class="row">

                <!-- Inician los datos fiscales -->

                <div class="col-md-2 offset-1">
                    <label for="razonSocial2">  RAZÓN SOCIAL</label>
                </div>

                <div class="col-md-3">
                    <input ngModel type="text" name="razonSocial2" id="razonSocial2" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="rfcRazonSocial2">  RFC </label>
                </div>

                <div class="col-md-3">
                    <input ngModel maxlength="13" type="text" name="razoncocial2RFC" id="razoncocial2RFC" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="cpRazonSocial2"> C.P </label>
                </div>

                <div class="col-md-3">
                    <input type="text" ngModel name="cpRazonSocial2" id="cpRazonSocial2" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="estadoRazonSocial2">  ESTADO</label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="razonSocial2Estado" ngModel id="razonSocial2Estado" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="municipioRazonSocial2"> MUNICIPIO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="municipioRazonSocial2" ngModel id="municipioRazonSocial2" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="localidadRazonSocial2">  CALLE </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="calleRazonSocial2" ngModel id="calleRazonSocial2" class="form-control">
                </div>


                <div class="col-md-2 offset-1">
                    <label for="correoRazonSocial2"> CORREO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="correoRazonSocial2" ngModel id="correoRazonSocial2" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="calleRazonSocial2">  CALLE</label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="calleRazonSocial2" ngModel id="calleRazonSocial2" class="form-control">
                </div>


                <!-- terminan los datos fiscales  -->
            </div>
        </mat-step>


        <mat-step label="CONTACTO">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        CONTACTO DE EMERGENCIA 1
                    </h3>
                </div>
            </div>


            <div class="row">


                <div class="col-md-2 offset-1">
                    <label for="nombreContactoDeEmergencia"> NOMBRE (S) </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia1Nombre" ngModel id="contactoEmergencia1Nombre" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="apellidoPaternoContactoDeEmergencia"> APELLIDO PATERNO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia1ApellidoPaterno" ngModel id="contactoEmergencia1ApellidoPaterno" class="form-control">
                </div>

                <div class="col-md-2 offset-1">
                    <label for="apellidoMaternoContactoDeEmergencia"> APELLIDO MATERNO</label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia1ApellidoMaterno" ngModel id="contactoEmergencia1ApellidoMaterno" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="contactoEmergencia1Parentesco">  PARENTESCO  </label>
                </div>


                <div class="col-md-3">
                    <select name="contactoEmergencia1Parentesco" class="form-control" ngModel id="contactoEmergencia1Parentesco">
                        <option  value="PADRE">  PADRES   </option>
                        <option value="ABUELOS">   ABUELOS </option>
                        <option value="HIJOS"> HIJOS </option>
                        <option value="HERMANOS">  HERMANOS </option>
                        <option value="PRIMOS">   PRIMOS </option>
                        <option value="CONYUGUE">  CÓNYUGUE </option>
                        <option value="OTROS">  OTROS </option>
                    </select>
                </div>


                <div class="col-md-2 offset-1">
                    <label for="edadContactoDeemergencia">  EDAD  </label>
                </div>

                <div class="col-md-3">
                    <input type="number" name="contactoEmergencia1Edad" ngModel id="contactoEmergencia1Edad" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="telefonoContactoDeEmergencia">  TELÉFONO </label>
                </div>

                <div class="col-md-3">
                    <input type="tel" name="contactoEmergencia1Telefono" ngModel id="contactoEmergencia1Telefono" class="form-control">
                </div>



                <div class="col-md-2 offset-1">
                    <label for="estadoCivilContactoDeEmergencia">  ESTADO CIVIL  </label>
                </div>

                <div class="col-md-3">

                    <select name="contactoEmergencia1EstadoCivil" id="contactoEmergencia1EstadoCivil" class="form-control">
                        <option value="UNION LIBRE" >  UNIÓN LIBRE </option>
                    <option value="CASADO">  CASADO  </option>
                    <option value="SOLTERO">  SOLTERO  </option>
                    <option value="VIUDO">  VIUDO  </option>
                </select>

                </div>

                <div class="col-md-2">
                    <label for="generoContactoDeEmergencia">  GÉNERO </label>
                </div>

                <div class="col-md-3">

                    <select name="contactoEmergencia1Genero" ngModel id="contactoEmergencia1Genero" class="form-control">
                      <option value="FEMENINO">  FEMENINO</option>
                      <option value="MASCULINO"> MASCULINO </option>
                  </select>
                </div>



            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>
                        CONTACTO DE EMERGENCIA 2
                    </h3>
                </div>
            </div>

            <div class="row">


                <div class="col-md-2 offset-1">
                    <label for="nombreContactoDeEmergencia2"> NOMBRE (S) </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia2Nombre" ngModel id="contactoEmergencia2Nombre" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="contactoEmergencia2ApellidoPaterno"> APELLIDO PATERNO </label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia2ApellidoPaterno" ngModel id="contactoEmergencia2ApellidoPaterno" class="form-control">
                </div>

                <div class="col-md-2 offset-1">
                    <label for="contactoEmergencia2ApellidoMaterno"> APELLIDO MATERNO</label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="contactoEmergencia2ApellidoMaterno" ngModel id="contactoEmergencia2ApellidoMaterno" class="form-control">
                </div>


                <div class="col-md-2">
                    <label for="contactoEmergencia2Parentesco">  PARENTESCO  </label>
                </div>


                <div class="col-md-3">
                    <select name="contactoEmergencia2Parentesco" class="form-control" ngModel id="contactoEmergencia2Parentesco">
                        <option  value="PADRE">  PADRES   </option>
                        <option value="ABUELOS">   ABUELOS </option>
                        <option value="HIJOS"> HIJOS </option>
                        <option value="HERMANOS">  HERMANOS </option>
                        <option value="PRIMOS">   PRIMOS </option>
                        <option value="CONYUGUE">  CÓNYUGUE </option>
                        <option value="OTROS">  OTROS </option>
                    </select>
                </div>



                <div class="col-md-2 offset-1">
                    <label for="edadContactoDeemergencia2">  EDAD </label>
                </div>

                <div class="col-md-3">
                    <input type="number" name="contactoEmergencia2Edad" ngModel id="contactoEmergencia2Edad" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="contactoEmergencia2Telefono">  TELÉFONO</label>
                </div>

                <div class="col-md-3">
                    <input type="tel" name="contactoEmergencia2Telefono" ngModel id="contactoEmergencia2Telefono" class="form-control">
                </div>



                <div class="col-md-2 offset-1">
                    <label for="contactoEmergencia2EstadoCivil">  ESTADO CIVIL  </label>
                </div>


                <div class="col-md-3">

                    <select name="contactoEmergencia2EstadoCivil" id="contactoEmergencia2EstadoCivil" class="form-control">
                        <option value="union libre" > UNIÓN LIBRE </option>

                        <option value="CASADO">  CASADO  </option>
                    <option value="SOLTERO">  SOLTERO </option>
                    <option value="VIUDO">  VIUDO  </option>
                </select>

                </div>

                <div class="col-md-2">
                    <label for="contactoEmergencia2Genero">  GÉNERO </label>
                </div>

                <div class="col-md-3">

                    <select name="contactoEmergencia2Genero" ngModel id="contactoEmergencia2Genero" class="form-control">
                        <option value="FEMENINO">  FEMENINO </option>
                        <option value="MASCULINO"> MASCULINO </option>
                      </select>
                </div>

                <!-- Terminan los contactos de emergencia -->
            </div>
            <br>
            <div class="center">
                <button mat-button matStepperNext class="principalButton" (click)="enviar(form)">   Agregar </button>
            </div>
            <br>
        </mat-step>

    </mat-horizontal-stepper>
</form>
<br>
</div>