.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-right: 15em;
}

#card {
    border-radius: 2rem;
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
    margin-right: 50px;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.btn {
    margin-right: 75%;
    border-radius: 120px;
    background-color: yellow;
    margin-block-end: 10px;
}

.btn-primary {
    margin-right: 75%;
    border-radius: 120px;
    background-color: #001672;
    margin-block-end: 10px;
}

.Derecha {
    margin-right: 47rem;
}