.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.container-fluid h1{
    margin-left: 25px;
}

#pointer {
    cursor: pointer;
}

.card{
    width: 75rem;
    margin-top: 10px;
    margin-left: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 24px;
    box-shadow: 3px 3px 10px #686A8F;
}

.card-body{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 24px;
    box-shadow: 3px 3px 10px #686A8F;
}

.card-heder h2{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.card-body p{
    color: black;
    font-weight: bold;
}

#tabla2, #tabla1{
    margin-top: 40px;
}
