p{
    color: black !important;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

div{
    font-size: .6rem;
    color: black;
}

textarea{
    height: 65px;
    width: 100%;
    border: none;
    border-radius: 1em;
    box-shadow: 5px 2px 10px 2px rgba(196, 192, 196, 1);
    outline:none;
}

#lab{
    width: 100%;
    height: 25px;
    box-shadow: 5px 6px 10px 2px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    border: none;
    outline:none;
}


.titulo{
    color: #001672 !important;
    font-size: 1rem;
}