<div class="content">
    <form #form='ngForm'>
        <p> REACCIÓN DE TOXICIDAD <span>(LEVE)</span> </p>
        <div>
            <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> ANSIEDAD </label>
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> FATIGA </label> 
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> PARESTESIAS PERIBUCALES O ACRAS </label> 
        </div>     

        <p>RESULTADOS DE LABORATORIOS:</p>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-3">
                <label for="">CALCIO</label>
            </div>
            <div class="col">
                <input type="text" id="lab">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="">MAGNESIO</label>
            </div>
            <div class="col">
                <input type="text" id="lab">
            </div>
        </div>


        <p> REACCIÓN DE TOXICIDAD <span>(MODERADO)</span> </p>
        <div>    
            <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> ESPASMOS MUSCULARES </label>
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> CHEVOSTEK </label> 
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_dutasterida" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> TROUSSEAU </label> 
        </div>
        
        <div>
            <p>OTROS SÍNTOMAS</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>  

        <p> REACCIÓN DE TOXICIDAD <span>(SEVERA)</span> </p>
        <div class="row">
            <div class="col">
                <div>
                    <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> TETANIA </label>
                </div>
                <div>
                    <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> HIPOTENSIÓN </label> 
                </div>
                <div>
                    <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> PROLONGACIÓN QT </label> 
                </div>
            </div>
            <div class="col">
                <div>
                    <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> LARINGOESPASMO </label>
                </div>
                <div>
                    <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> FALLA CARDÍACA </label> 
                </div>
            </div>
        </div>

        <div>
            <p>OTROS SÍNTOMAS</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</div>
