#busquedaPaciente{
    height: 45px;
    box-shadow: 3px 3px 10px #686A8F;
    border-radius: 18px;
}

#nuevo{
    width: 150px;
    text-transform: uppercase;
    border-radius: 3em !important;
    background-color: #00acd8;
    border-color: #00acd8;
}

.card{
    margin-top: 10px;
    margin-left: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 24px;
    box-shadow: 3px 3px 10px #686A8F;
}

.card-header{
    height: 60px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card-body{
    background-color: #ffffff; 
    border-radius: 30px;
}

.card-body p {
    text-align: center;
    color: black;
    font-weight: bold;
}

.card-body .col-md-8 p{
    font-size: 11px; 
    font-weight: 600; 
    margin-top: 10px; 
    text-align: left;
}

.card-body .col-md-2 button{
    color: red; 
    font-size: .8rem; 
    font-weight: bold;
}

.card-body .col label{
    margin-left: 1rem;
}

.card-title{
    color: white;
    border-radius:24px 24px 0px 0px; 
}

.card-title h4{
    margin-top: 5px;
    text-align: center;
}

.card-footer{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 24px;
    box-shadow: 3px 3px 10px #686A8F;
    border-top-style: solid;
}

.card-footer .row{
    border-bottom-style: solid; 
    border-top-style: solid;
}

.card-footer .row h5{
    font-size: 12px; 
    font-weight: 800; 
    text-align: right; 
    margin-top: 5px; 
    color: black;
}

.card-footer .btn p{
    text-align: center; 
    color: #007CC3; 
    height: 10px;
}

#cotizacion{
    height: 368px;
}

#pointer {
    cursor: pointer;
}

.btn-secondary {
    margin-left: 100%;
}