.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

#busquedaPaciente{
    border-radius: .9em !important;
    box-shadow: 3px 3px 10px gray;
}

.boton_contra2 {
    border-radius: 3em !important;
    width: 9em !important;
    background-color: #00acd8;
    border-color: #00acd8;
    color: white !important;
}

.bitacora{
    margin-top: 30px;
}

.card{
    border-radius: 30px; 
    margin-left: 2px;
    width: 78rem !important;
}

.card-body .row p{
    text-align: center;
}

.pointer{
    cursor: pointer;
}