.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.centerxd{
    font-weight: bold;
    margin-left: 45px;
    font-size: 2.2rem;
}

.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}

.card-heder .row p{
    font-size: 1rem;
}

.card-body .row p{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

#pointer {
    cursor: pointer;
}

#busquedaPaciente{
    height: 45px;
    box-shadow: 3px 3px 10px #686A8F;
    border-radius: 18px;
}