.card {
    padding: 0.3rem;
    border-radius:1rem;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}


.text-fi{ 
    color: #000000;
    font-size:1rem;
    font-weight: 400;
}


.text-proveedor{

    height:3rem;
    overflow-y: scroll;
}