<div class="row">

    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="row">

                <div class="col-md-5">
                    <p class="text-fi">
                        NOMBRE: 
                        {{dataFiProducto.nombre}}
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-fi">
                        ID: 
                        {{ dataFiProducto.idProducto }}
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-fi">
                        TIPODE SERVICIO:
                        {{ dataFiProducto.tipo_producto }}
                    </p>
                </div>
                <div class="col-md-5 text-proveedor">
                    <p class="text-fi"  *ngFor="let proveedorUnique of dataFiProducto.proveedor" >
                        PRECIO:  {{ this.proveedorUnique.proveedor }} - {{ this.proveedorUnique.costo }}
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-fi">
                        DESCRIPCION:
                        {{this.dataFiProducto.descripcion}}
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-fi">
                        ESTADO: 
                        {{this.dataFiProducto.estado}}
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-fi">
                        OBSERVACIOENS:
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>