p, label{
    color: black;
    font-size: .8rem;
    font-weight: bold;
}

select{
    border-radius: 20px;
    height: 35px;
    box-shadow: 2px 2px 20px 1px rgba(196, 192, 196, 1);
}

textarea{
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px rgba(196, 192, 196, 1);
}

.row{
    margin-top: 25px;
}