.title-secondary{

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
}
.estilos{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px; 
}
.mayus{

    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2rem;
}
.letraxd{

    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}
.cardPer {
    margin: 0 auto;
    max-width: 100%;
    border-color: white;
    border-radius: 2em;
    /* box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 95%;

    /* display: inline-block !important; */
}


label{
    color: #000;
    font-size: 1rem;
}

.mayus {
    text-transform: uppercase;
}


textarea {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 3px 5px 10px  rgb(240, 236, 240);
}

.btnPrincipalBS{
    margin-bottom: 1rem;
}
.shadow-input-bs{ 
    width: 100%;
    border: none;
}