<div class="container-fluid">
    <p class="estilos">REGISTROS DE MATERIALES</p>

    <div class="card cardPer container">

        <h2 class="title-secondary">DATOS DEL MATERIAL</h2>

        <form [formGroup]="newFormMateriales" >

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="mayus" for="nombre"> NOMBRE:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="nombre" name="nombre" class="form-control shadow-input-bs" formControlName="nombre" />
                </div>
    
    
                <div class="col-md-2">
                    <label class="mayus" for="idProducto"> ID: </label>
                </div>
                <div class="col-md-4">
                    <input type="text" [value]="newIdMaterial" disabled  name="idProducto" id="idProducto" class="form-control shadow-input-bs" formControlName="idProducto" />
                </div>
    
            </div>
                
            <div class="row mt-4">
                <div class="col-md-2">
                    <label class="mayus">tipo de producto:</label>
                </div>
    
                <div class="col-md-4">
    
                    <select class="custom-select mayus shadow-input-bs" name="tipo_producto" id="inputGroupSelect01" formControlName="tipo_producto">
                        <option selected>selecciona un producto...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                </div>
                <div class="col-md-2">
                    <label class="mayus">NOMBRE COMERCIAL</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control shadow-input-bs" name="nombre_comercial" id="nombre_comercial" formControlName="nombre_comercial" />
                </div>
            </div>
            
            <div formArrayName="proveedor"  *ngFor="let valor of valoresProveedoresFB.controls; let j = index" >
        
                <div [formGroupName]="j" >

                    <div class="row mt-4">
                        <div class="col-md-2">
                            <label class="mayus">PROVEEDOR</label>
                        </div>
                        <div class="col-md-4">
                            <select class="custom-select mayus shadow-input-bs" id="inputGroupSelect01" name="" formControlName="proveedor" >
                        
                                <option [value]="proveedor.razonSocial" *ngFor="let proveedor of proveedoresCensur">  {{ proveedor.razonSocial }}</option>
                              </select>
                        </div>
            
                       <div class="col-md-2">
                            <label class="mayus">COSTO</label>
                       </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control shadow-input-bs"  formControlName="costo" name="" />
                            <div class="input-group-append">
                                <span class="input-group-text">MX</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-2">
                    <label class="mayus">LABORATORIO</label>
                </div>
                <div class="col-md-4">
                    <input type="text"    class="form-control shadow-input-bs" name="" id="laboratorio" formControlName="laboratorio" />
                </div>
            </div>
    
            <div class="row ml-1 mb-4">
                <label class="mayus pointer font-color-bs" (click)="addAProveedor()" >agregar  proveedor</label>
            </div>
    
            <div class="row ml-1">
                <div class="col-md-12">
                    <label class="mayus">descripción:</label>
    
                </div>
                <div class="col-md-12">
                    
                    <textarea class="mb-3" name="descripcion" id="" cols="2" rows="3" formControlName="descripcion"  (blur)="validateForm()"  ></textarea>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-2 offset-md-5">
    
                    <button  class="btn btnPrincipalBS"  [disabled]="btnValidateSend" (click)="sendANewMaterial()" >
                        REGISTRAR
                    </button>
                </div>
            </div>
        </form>
        
        <!-- Fin del contaienr -->
    </div>
  
</div>
