<div class="container-fluid">
      <p class="estilos">EDITAR PRODUCTO</p>

    <div class="card cardPer container">
        <h2 class="title-secondary">DATOS DEL PRODUCTO</h2>
        <form  >
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="mayus" for="nombre"> NOMBRE:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="nombre" name="nombre"  placeholder="CONCETRADO ELICTROCITARIO"  class="form-control shadow-input-bs" formControlName="nombre" />
                </div>
    
    
                <div class="col-md-2">
                    <label class="mayus" for="idProducto"> ID: </label>
                </div>
                <div class="col-md-4">
                    <input type="text"  disabled  name="idProducto" placeholder="2EK3j34R14U34U" id="idProducto" class="form-control shadow-input-bs" formControlName="idProducto" />
                </div>
    
            </div>
            <div class="row mt-4">
                <div class="col-md-2">
                    <label class="mayus">TIPO DE PRODUCTO</label>
                </div>
    
                <div class="col-md-4">
                    <select class="form-control shadow-input-bs" required>
                            <option>CENTRIFUGADO</option>
                            <option>Hemoderivados</option>
                            <option>Servicios</option>
                            <option>Materiales</option>
                    </select>
                    
                </div>
                <div class="col-md-2">
                    <label class="mayus">NOMBRE COMERCIAL</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control shadow-input-bs" name="nombre_comercial" id="nombre_comercial" placeholder="CONCETRADO ELICTROCITARIO" formControlName="nombre_comercial" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-2">
                    <label class="mayus">PROVEEDOR</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control shadow-input-bs" required>
                        <option>GENOMALAB</option>
                        <option>Hemoderivados</option>
                        <option>Servicios</option>
                        <option>Materiales</option>
                </select> 
                </div>
    
               <div class="col-md-2">
                    <label class="mayus">COSTO</label>
               </div>
                <div class="col-md-4">
                    <input type="number" class="form-control shadow-input-bs"  formControlName="costo" name="" />
                    <div class="input-group-append">
                        <span class="input-group-text">MX</span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="mayus" for="nombre"> LABORATORIO</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="nombre" placeholder="PFIZER" name="nombre" class="form-control shadow-input-bs" formControlName="nombre" />
                </div>
            </div>
            <div class="row ml-1 mb-4">
                <label class="mayus pointer font-color-bs"  >AGREGAR OTRO PROVEEDOR...</label>
            </div>
            <div class="row ml-1">
                <div class="col-md-12">
                    <label class="mayus">descripción:</label>
    
                </div>
                <div class="col-md-12">
                    
                    <textarea class="mb-3" name="descripcion" id="" cols="2" rows="3" formControlName="descripcion"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-5">    
                    <button  class="btn btnPrincipalBS"   >
                        REGISTRAR
                    </button>
                </div>
            </div>



        </form>



    </div>

    



</div>