<h1 class="centerxd">HISTÓRICO DE ESTUDIOS</h1>



<br>

<div class="col-md-12">
    <div class="card" style="border-radius: 30px;">
        <div class="card-header header" style="border-top-left-radius: 24px;
        border-top-right-radius: 24px;">
            <div class="row">
                <div class="col-md-2 text_header">
                    <p class="text-center">No.</p>
                </div>
                <div class="col-md-7 text_header">
                    <p class="text-center">NOMBRE DEL ESTUDIO</p>
                </div>
                <div class="col-md-3 text_header">
                    <p class="text-center">OBSERVACIONES</p>
                </div>                
            </div>
        </div>
    </div>
    
    <div class="card-body" style="background-color: #ffffff; border-radius: 0px,30px,30px, 0px" >
        <div *ngFor="let item of tablaEstudios | paginate:{id:'listaAmbulancia',
        itemsPerPage: 4 ,
        currentPage:pagina,
        totalItems:totalAmbulancia}; let i = index" [routerLink]="['/hoja-servicios', item._id]">
            <div class="row">
                <div class="col-md-2">
                    <p class="text-center">{{ i +1 }}</p>
                </div>
                <div class="col-md-7">
                    <p class="text-center">{{item.ESTUDIO}}</p>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success btnSVY" [routerLink]="['/nuevo/estudio/laboratorio',item._id]">EDITAR</button>
                    <button type="button" class="btn btn-danger  btnSVY btn2SVY">ELIMINAR</button>
                </div>
            </div>
        </div>
        <div class="offset-md-3">
            <pagination-controls id="listaAmbulancia" maxSize="10" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- <div class="card" style="border-radius: 30px;">

    <div class="row">
        <div class="col-md-12">


            <table class="table table-hover colors izq" id="bitacora">

                <thead class="center" name="card" style="border-radius: 8em;">

                    <tr style="color: white;">

                        <th scope="col"> No.</th>
                        <th scope="col"> NOMBRE DEL ESTUDIO </th>
                        <th scope="col"> OBSERVACIONES</th>
                    </tr>




                </thead>

                <tbody class="center" style="background-color: white;color: black;">

                    <tr *ngFor="let item of tablaEstudios; let i = index">



                        <td> {{ i +1 }} </td>
                        <td>{{item.ESTUDIO}}</td>
                        <td>
                            <div class="col">
                                <button type="button" class="btn btn-success btnSVY" [routerLink]="['/nuevo/estudio/laboratorio',item._id]">EDITAR</button>
                                <button type="button" class="btn btn-danger  btnSVY btn2SVY">ELIMINAR</button>
                            </div>
                            

                        </td>



                    </tr>
                </tbody>

            </table>
        </div>


    </div>

</div> -->

<br>