#pointer {
    cursor: pointer;
    margin: 20px;
}

#pointer p{
    font-size: 1rem;
    color: #00acd8;
    font-weight: bold;
}

.card{
    box-shadow: 3px 3px 10px #686A8F;
    height: 200px;
    width: 90%;
    margin-left: 50px;
    border-radius: 30px;
}

ngx-dropzone{
    border-radius: 30px;
    align-items: center;
    border: none;
}

span{
    margin-left: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#pregunta{
    width: 90%;
}

#card{
    margin-left: 100px !important;
    border-radius: 10px !important;
}

textarea{
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline:none;
}

.btn{
    margin-left: 37rem; 
    margin-top: 2rem;
    text-transform: uppercase;
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #00acd8;
    border-color: #00acd8;
}