<div class="container-md">
    <h1 class="title-principal-bs">ACTUALIZAR PROVEEDOR</h1>
    
    <div class="card">
        <form (ngSubmit)="guardar( forma )" #forma="ngForm">
        <div class="row">
            <div class="col">
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">NOMBRE DE LA EMPRESA: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="nombreEmpresa" name="nombreProveedor" [class.is-invalid]='nombreProveedor.invalid && nombreProveedor.touched' [ngModel]='nombreProveedor' required #nombreProveedor=ngModel>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">RAZÓN SOCIAL: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="RepresentanteProovedor" name='razonProveedor' [class.is-invalid]='razonProveedor.invalid && razonProveedor.touched' [ngModel]='razonProveedor' required #razonProveedor=ngModel>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">CONTACTO: </label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control shadow-input-bs  " id="contactoProveedor" min="0" name='contactoProveedor' [class.is-invalid]='contactoProveedor.invalid && contactoProveedor.touched' [ngModel]='contactoProveedor' required #contactoProveedor=ngModel>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">RFC: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="rfcProveedor" name='rfcProveedor' [class.is-invalid]='rfcProveedor.invalid && rfcProveedor.touched' [ngModel]='rfcProveedor' required #rfcProveedor=ngModel>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">ID: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="IDProveedor" readonly>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">DOMICILIO: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="DomicilioProovedor" name='domicilioProveedor' [ngModel]='domicilioProveedor' required #domicilioProveedor=ngModel>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">CORREO: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="correoProveedor" pattern='[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,3}$'  name='correoProveedor' [class.is-invalid]='correoProveedor.invalid && correoProveedor.touched' [ngModel]='correoProveedor' required #correoProveedor=ngModel>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">DÍAS DE DISTRIBUCIÓN: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control shadow-input-bs" id="DiasDistProveedor"  name='diasDistProveedor' [class.is-invalid]='diasDistProveedor.invalid && diasDistProveedor.touched' [ngModel]='diasDistProveedor' required #diasDistProveedor=ngModel>
                    </div>
                </div>
            </div>
        </div>
    
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">DESCRIPCIÓN</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name='descripcionProveedor' [class.is-invalid]='descripcionProveedor.invalid && descripcionProveedor.touched' [ngModel]='descripcionProveedor' required #descripcionProveedor=ngModel>S</textarea>
                  </div>
            
    
        <div class="d-grid gap-2 col-2 mx-auto mt-5">
            <button type="submit" class="btn btn-primary">REGISTRAR</button>
        </div>
    </form>
    </div>
</div>
    