.text-login {
    color: #001672;
    font-size: 35px;
}

/*.cuadros {
     background-image: url('../../../assets/images/CUADROS.svg'); 
}*/

input[type="text"],
input[type="password"],
input[type="submit"] {
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 15 !important;
    /* // box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem !important; */
}


/* #img-fluid{
  position: fixed;
  top:12.8%;
  right: 14.4%;
  max-width: 6%;
  transform: rotate(-90deg);

} */


/* #img-fluid-2{
  position: fixed;
  top:68.3%;
  right: 79.6%;
  max-width: 6%;
  transform: rotate(-360deg) scaleX(-1);

} */

.h2 {
    color: #001672;
    text-align: left;
    margin-bottom: 15px;
}

.h4 {
    font-weight: 650;
    font-size: 2.6rem;
    text-align: center !important
}


/* // Cambiar por arial black */

.container {
    margin-top: 3em;
    padding-bottom: 2em;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media(max-width:575px) {
    #card2 {
        height: 83%;
        border-radius: 27px;
    }
    #logo {
        display: none;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #container {
        margin-top: 8em;
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        margin-top: auto;
        transform: rotate(-360deg) scaleX(-1);
    }
    #title {
        font-weight: 650;
        font-size: 1.2em;
        text-align: center !important
    }
    #login {
        font-size: 1em;
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        font-weight: 500;
        font-size: 1em;
        border-radius: 15 !important;
        /* // box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem !important; */
    }
}

@media (min-width: 576px) and (max-width:767px) {
    #card2 {
        height: 84%;
        border-radius: 27px;
    }
    #logo {
        display: block;
        width: auto;
        margin-top: 7em;
        padding: 3em;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #container {
        margin: 1em;
        max-width: 740px;
    }
    #login {
        font-size: 15px;
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        margin-top: auto;
        transform: rotate(-360deg) scaleX(-1);
    }
    #title {
        font-weight: 650;
        font-size: 1.1em;
        text-align: center !important
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        font-weight: 500;
        font-size: 1em;
        border-radius: 15 !important;
        padding: 1em 1em !important;
        /* // box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem !important; */
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #card2 {
        height: 85%;
        border-radius: 27px;
        /* //width: 57em; */
    }
    #logo {
        display: block;
        margin-top: 30%;
        padding-left: 12%;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #container {
        margin: 3em;
        max-width: 900px;
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #title {
        font-weight: 650;
        font-size: 1.8rem;
        text-align: center !important
    }
    #login {
        font-size: 25px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .container{
        max-width: 1050px;
    }
    #container {
        margin-top: 10em;
    }
    #card2{
        border-radius: 27px;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 40%;
    }
}

@media (min-width: 1200px) {
    #card2{
        border-radius: 27px;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 85px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 85px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 15%;
        padding: 50px;
    }
}