.card {
    margin: 0 auto;
    border-color: white;
    border-radius: 1em;
    max-width: 1200px;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, .275) !important;
    /* width: 72rem !important; */
    width: 100% !important;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

.textos {
    color: #000;
}
.textos-center{
    color: #000;
    text-align: center;
}
.mgb{
    margin-bottom: 0.4rem;
}