.card{
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 90%;
    margin-bottom: 3em;
    margin-left: 50px;
}

form {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

label{
    font-size: .9rem;
    color: black;
}

input{
    box-shadow: 6px 10px 15px -8px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    height: 30px;
}

#venopuncion{
    margin-top: 20px;
}

#validacion{
    margin-top: 30px;
}

#validacion label{
    font-weight: bold;
}

textarea{
    border: none;
    box-shadow: 5px 2px 20px 1px rgba(196, 192, 196, 1); 
    border-radius: 1rem;
    width: 70rem;
}

.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
}

.modal-dialog {
    max-width: 60rem; /* Full width */
    height: 100%; /* Full height */
    border-radius: 2rem;
    top: 50px;
}

#nopuede{
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

#sipuede{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

.modal-header{
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center
}

.modal-body p{
    font-size: 1.5rem;
    font-weight: bold;
}

#diferir{
    margin-left: 20px;
}

#motivo{
    border-radius: 20px;
    height: 5rem;
    width: 50rem;
    margin-left: 20px;
    border: none;
    box-shadow: 5px 2px 20px 1px rgba(196, 192, 196, 1); 
    outline:none;
    padding: 10px;
}

.modal-content {
    border-radius: 2rem;
    width: 180rem; 
    height: 25rem; 
    background-color: #fefefe;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
}