.card-paddin-title{ 
    padding-top:0.6rem;
    margin-bottom: 2rem;
}


.font-color {
     color: #898A8D;
     font-weight: 600;
}

.title-card {
    margin-bottom: 1rem;
}

h4 {
    margin-right: 1rem;
    font-weight: 700;
}

.letras h3 {
    font-size: .8rem!important;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 1rem;
}

.res {
    border-radius: 20px;
    border:none;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
    padding-top: 0.3rem;
    margin-bottom:1.3rem;
}

span {
    text-transform: lowercase;
}

.txtarea {
    max-width: 620px;
    max-height: 50px;
}


.custom-select{ 

    border-radius: 20px !important;   
}

.principalButton{
    background-color: #00acd8;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline:none;
}