.title,
.fecha,
span {
    font-weight: 800;
    color: #00acd8;
}

p {
    color: #000;
}

#religion{
    margin-left: 30px;
}

.card {
    margin-top: 10px;
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    width: 100%;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

.centerxd{
    margin-left: 65px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 2rem;
}