<div class="container-fluid">
  <p class="estilos">UNIDAD CENSUR-CUAUTLA</p>
</div>
<body>
  

 <div class="row">
    <div class="colu" >
      <div class="card mb-2">
          <img src="https://todoenimgenes.com/wp-content/uploads/2016/04/descarga-1-11.jpg"  class="circulo">
              <br>
              <h5 >Nombre: Clinica del angel</h5>
              <h5 >Razon Social:Moral</h5>
              <h5 >RFC:CDA201094TR3</h5>
              <h5>CONTACTO: Juan Perez Milan</h5>
              <h5 >DIRECCION: Ignacio Maya #15</h5>
              <h5 >76539,Cuautla,Morelos</h5>
      </div>
    </div>

    <div class="col col-lg-9 col-md-12" >
          <div class="largo"> 
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-heder header">
                    <div class="row text-white">
                        <div class="col-md-1 text_header" style="text-align: left; margin-left: 15px;">
                            <p>No.</p>
                        </div>
        
                          <div class="col-md-1 text_header">
                            <p>ID</p>
                          </div>
                          <div class="col-md-3 text_header">
                            <p>PRODUCTO A SOLICITAR</p>
                           </div>
                          <div class="col-md-2 text_header">
                            <p>PRODUCTOS ENTREGADOS</p>
                          </div>
                          <div class="col-md-2 text_header ">
                            <p>METODOS </p>
                          </div>
                          <div class="col-md-2 text_header">
                            <p>ESTADOS</p>
                          </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div>
                      <div class="row" id="pointer">
                          <div class="col-md-1" style="text-align: left;">
                              <p class="tipografia">01</p>
                          </div>
                          <div class="col-md-2" style="text-align: center;">
                              <p class="tipografia">PEPRMS2034903</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">CONCENTRADO ELECTROCITARIO</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">SANGRE TOTAL</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">SOLICITUD</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">FINALIZADO</p>
                          </div>
                        
                       </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div>
                      <div class="row" id="pointer">
                          <div class="col-md-1" style="text-align: left;">
                              <p class="tipografia">01</p>
                          </div>
                          <div class="col-md-2" style="text-align: center;">
                              <p class="tipografia">PEPRMS2034903</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">CONCENTRADO ELECTROCITARIO</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">12 donadores</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">INTERCAMBIO</p>
                          </div>
                          <div class="col" style="text-align: center;">
                              <p class="tipografia">FINALIZADO</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     </div>
  </div>
</body>
  





