.estilos{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px; 
}

.btn-censur{
    width:100% !important;
}

.colu{
    flex: 2;
    width: 25%;
    padding: 15px;
    margin: 20px;
    box-sizing: border-box;
}
.circulo{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    text-align: center;
}

h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #000000; 
}
p{
    padding: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px; 
    
}

.card{
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #686A8F;
    
}
.largo{
 margin: 30px; 
}
.tipografia{
  color: #000000;
}