.title-principal-bs{
    margin-left: 2em;
}
button{
    border-radius: 30px;
    width: 10em;
    box-shadow: 3px 3px 10px #686A8F;  
}
.card{
    box-shadow: 3px 3px 10px #686A8F;
}
.card-header{
    border-top-left-radius: 1.35rem ;
    border-top-right-radius: 1.35rem ;
    background-color: #00ACD8;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}
.card-header .row p{
    font-size: 1rem;
}
.card-body{
    height: 420px;
}
.card-body .row p{
    font-size: 1rem;
    color: black;
}
.fa-edit{
    color: #87FF3E;
}
.fa-trash-alt{
    color: #FF0000;
}
.card-footer{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: none;
}