<div class="container-fluid">

    <h1 class="title-principal-bs">LISTADO DE PROVEEDORES</h1>

    <div class="row mx-5">
        <div class="col-sm-5">
            <input type="text" class="form-control shadow-input-bs" id="buscarProveedor" placeholder="BUSCAR">
        </div>
        <div class="col d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary btn-censur">  NUEVO   </button>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-header">
            <div class="row">
                <div class="col-1 text-header">
                    <p>
                        No.
                    </p>
                </div>
                <div class="col text-header">
                    <p>
                        NOMBRE
                    </p>
                </div>
                <div class="col-3 text-header text-center">
                    <p>
                        DIRECCIÓN
                    </p>
                </div>
                <div class="col text-header text-center">
                    <P>
                        CORREO
                    </P>
                </div>
                <div class="col text-header text-center">
                    <P>
                        REPRESENTANTE
                    </P>
                </div>
                <div class="col text-header text-center">
                    <P>
                        TELÉFONO
                    </P>
                </div>
                <div class="col text-header text-center">
                    <P>
                        DISTRIBUCIÓN
                    </P>
                </div>
                <div class="col text-header">
                    <P>
                        ACCIONES
                    </P>
                </div>
            </div> 
        </div>

        <div class="card-body">
            <div class="row" *ngFor="let proveedor of proveedores; let i = index">
                <div class="col-1">
                    <p>
                        {{ i + 1 }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ proveedor.nombreEmpresa }}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{ proveedor.domicilio }}
                    </p>
                </div>
                <div class="col">
                    <P>
                        {{ proveedor.correo }}
                    </P>
                </div>
                <div class="col">
                    <P>
                        {{ proveedor.contacto }}
                    </P>
                </div>
                <div class="col">
                    <P>
                        {{ proveedor.contacto }}
                    </P>
                </div>
                <div class="col text-center">
                    <p>
                        {{ proveedor.diasDistribucion }}
                    </p>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="col">
                            <i class="fa fa-trash-alt" (click)="borrarProveedor()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            Aqui va el paginador
        </div>
    </div>
</div>