p{
    font-size: 10px;
    text-align: center;
    font-weight: 800;
}

#tabla{
    margin-top: 10px;
}

.boton_contra2 {
    border-radius: 3em !important;
    width: 12em !important;
    /* // color: #00BBF1; */
    background-color: #E3D049;
    border-color: #E3D049;
}

a>i {
    color: blue;
}

a {
    cursor: pointer;
}

pagination-controls {
    margin-left: 26rem;
}

/*para el sombreado*/

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}