.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.estilos{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px; 
}
.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline: none;
}
.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}

.card-heder .row p{
    font-size: .7rem;
}
.card-body .row p{
    font-size: .7rem;
    color: black;
    font-weight: bold;
}
.form-control{
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    border:none;
    outline: none;
    box-shadow: 2px 2px 20px 6px rgb(196, 192, 196);
    height: 30px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

}
.tipografia{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
}