<div class="container-fluid">
    <p class="estilos">LISTADO DE MATERIALES</p>
    
    <div class="row">
        <div class="col-md-8">
                 <input type="text" name="" placeholder="Buscar" class="form-control">
           </div>
           <div class="col-md-2"></div>
           <div class="col-md-2">
            <input class="principalButton" type="submit" value="NUEVO">
           </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-1 text_header" style="text-align: left; margin-left: 15px;">
                            <p >No.</p>
                        </div>
    
                        <div class="col-md-3 text_header">
                            <p>NOMBRE</p>
                        </div>
                        <div class="col text_header">
                            <p>NOMBRE COMERCIAL</p>
                        </div>
                        <div class="col text_header">
                            <p>DESCRIPCION</p>
                        </div>
                        <div class="col text_header">
                            <p>LOTE</p>
                        </div>
                        <div class="col text_header">
                            <p>EXISTENCIA</p>
                        </div>
                        <div class="col text_header">
                            <p>PROVEDOR</p>
                        </div>
                        <div class="col text_header">
                            <p>ACCIONES</p>
                        </div>
                    </div>
                </div>
    
                <div class="card-body">
                    <div>
                        <div class="row" *ngFor="let servicio of servicios; let i = index">
                            <div class="col-md-1" style="text-align: left;">
                                <p>
                                    {{ i + 1 }}
                                </p>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <p>
                                    {{ servicio.nombre }}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ servicio.nombre_comercial }}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ servicio.descripcion }}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    no hay descripcion
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   no hay existencia
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    no hay provedores
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    <i class="far fa-edit fa-2x"></i>
                                    <i class="far fa-trash-alt fa-2x"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
    </div>
