<div class="container animate bounceInLeft">
    <h2 class="text-center"></h2>
    <div class="row">

        <ficha-info-user [pacienteInfo]="pacienteInfo"></ficha-info-user>

    </div>
    <div class="card" id="card">
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-secondary mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-folder-plus"></i> Agregar consulta
                </button>
                  <!-- <button class="btn btn-danger mb-2">
                  <i class="fas fa-file-pdf"></i> Descargar PDF
                </button> -->

                <div class="btn mb-2">
                  <select name="servicio" class="form-control" id="" #servicio (change)="irAUnServicio( servicio.value  )">
                      <option   value="" selected> Selecciona un servicio  </option>
                      <option   value="ambulancia"> Ambulancia</option>
                      <option   value="consulta"  > Consulta General </option>
                      <option   value="consultaEspecialista">  Consulta con especialista </option>
                      <option   value="endoscopia"> Endoscopia</option>
                      <!-- <option   value="resultados"> Entraga de resultados </option>  -->
                      <!-- <option   value="farmacia">   Farmacia </option>  -->
                      <!-- <option   value="hospitalizacion"> Hospitalización</option>  -->
                      <option   value="laboratorio"> Laboratorio</option>
                      <option   value="quirofano">  Quirofano</option>
                      <option   value="xray">     Rayos x</option>
                      <option   value="resonancia"> Resonancia</option>
                      <option   value="tomografias"> Tomografias</option>
                      <!-- <option   value="TrabajoSocial" > Trabajo Social  </option> -->
                      <option   value="ultrasonido"> Ultrasonido</option>
                      <!-- <option   value="urgencias"> Urgencias</option>  -->
                      <option   value="otros"> Otros </option> 
                    </select>
              </div>
              
                  <div class="collapse mb-4" id="collapseExample">
                      <div class="card card-body">
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <td>
                                          <select class="form-control" #select (change)="seleccion($event, select.value)" [(ngModel)]="consultas.tipo">
                                              <option value="" selected>Tipo de consulta o estudio...</option>
                                              <option value="visitas">Citas incluidas</option>
                                              <option value="examenesLab">Estudios de laboratorio</option>
                                        </select>
                                          <p class="text-danger">*No puedes agregar más consultas</p>
                                      </td>
                                      <td>
                                          <select class="form-control" #selectCon (change)="cambiarVisita( selectCon )" [(ngModel)]="consultas.consulta">
                                            <option value="" selected>Concepto...</option>
                                            <option [value]="item" *ngFor="let item of concepto">{{ item }}</option>
                                        </select>
                                      </td>
                                      <td>
                                          <select class="form-control" [(ngModel)]="consultas.medico">
                                            <option value="" selected>Medico...</option>
                                            <option [value]="medico.nombre" *ngFor="let medico of medicos">{{ medico.nombre }}</option>
                                        </select>
                                      </td>
                                      <td><input type="text" class="form-control" placeholder="Firma..." [(ngModel)]="consultas.firma"></td>
                                      <td>
                                          <button class="btn btn-warning" (click)="agregarConsulta()">Agregar</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
            </div>
            <div class="col-md-3">
                <img [src]="item.paquete.icon" *ngFor="let item of paquete" class="img-fluid">
            </div>
        </div>
        <div class="row"> 
                <div class="container-fluid">

                
                    <div class="p-3 mb-2 bg-success text-white">
                        Citas incluidas
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of citas; let i = index">
                                <div class="card border-success" style="cursor: pointer;" (click)="mostrarDatos(item.consulta, item.medico, '1')">
                                    <div class="card-body">
                                        <span class="badge badge-success">{{ i + 1 }}</span>
                                        <p class="text-center"><i class="fas fa-file-alt mr-2"></i> {{ item.fecha | date:'short' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="mt-5 p-3 mb-2 bg-primary text-white">
                        Estudios de laboratorio
                    </div>
                    <div class="container-fluid">
                        <div class="row cardsExamen">
                            <div class="col-md-4">
                                <div class="card" id="laboratorioCard" style="cursor: pointer;" (click)="showMessage('4 Estudios de laboratorio')">
                                    <div class="card-body">
                                        <span class="badge" id="badegeLaboratorio"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 4 Estudios de laboratorio </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="SanguineoCard" (click)="showMessage('1 Grupo Sanguineo y Facto RH')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeSanguineo"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Grupo Sanguineo y Facto RH </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="biometriaHematica" (click)="showMessage('1 Biometria Hematica Completa')">
                                    <div class=" card-body">
                                        <span class="badge " id="badgeHematica"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 Biometria Hematica Completa </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="card " style="cursor: pointer; " id="GOCard" (click)="showMessage('2 Examen General de Orina')">
                                    <div class=" card-body">
                                        <span class="badge" id="badgeGO"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 2 Examen General de Orina </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 ">

                                <div class="card " style="cursor: pointer; " id="coprologicoCard" (click)="showMessage('1 Examen coprológico')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeCopologico"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2"></i> 1 Examen coprológico </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white ">
                        Cita abierta a Urgencias con Médico General
                    </div>
                    <div class="row mt-3 mb-3 ">
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <!-- (click)="mostrarDatos(item.consulta, item.medico, '2') " -->
                            <div class="card " (click)="mostrarUrgencias()" id="urgencias" style="cursor: pointer; ">
                                <div class="card-body ">
                                    <p> Cita abierta a Urgencias con Médico General </p>
                                    <span class="badge " id="badgeUrgencias">  </span>
                                    <p class="text-center "><i class="fas fa-female mr-2 "></i> Fecha: {{ urgencias.fecha }} Hora: {{urgencias.hora}} </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white ">
                        Estancias cortas de hasta 8 Horas en Urgencias
                    </div>

                    <div class="row mt-3 mb-3 ">
                        <div class="col-lg-3 col-md-6 col-sm-12 ">

                            <div class="card " (click)="mostrarEstancias()" id="estanciasCortas" style="cursor: pointer; ">
                                <div class="card-body ">
                                    <!-- <pre> {{ consultaDespuesParto | json }} </pre> -->
                                    <p> Estancias cortas de hasta 8 Horas en Urgencias</p>
                                    <span class="badge " id="badgeEstancias">  </span>
                                    <p class="text-center "><i class="fas fa-female mr-2 "></i> Fecha: {{ estancias.fecha }} {{ estancias.hora }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

        </div>
    </div>
</div>