<section class="row">
    <h1 class="centerxd">REVISIÓN DE ORDEN DE COMPRA</h1>
</section>

<section class="row" id="container">
    <div class="col-md-6">
        <div class="card" id="card">
            <div class="card-header" id="cardheader">
                <div class="row">
                    <div class="col">Datos del paciente</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"> Nombre: </div>
                    <div class="col">{{paciente.nombrePaciente}} {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> Edad: </div>
                    <div class="col"> {{paciente.edad}} </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> Sexo: </div>
                    <div class="col">{{paciente.genero}}</div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <label for="solicito">Quien recibe</label>
                    </div>
                    <div class="col">
                        <input type="text" name="solicito" id="solicito" class="form-control">
                    </div>
                </div>
                <div class="row" id="metodos">
                    <div class="col-md-12">Método de pago</div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" id="efectivo" name="efectivo" value="true">
                        <label for="efectivo">Pago en efectivo</label>
                        <div>
                            <input type="number" min="0" class="form-control" placeholder="Ingresa el monto" name="montoEfectivo" id="montoEfectivo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" id="transferencia" name="transferencia" value="true">
                        <label for="transferencia">Transferencia bancaria</label>
                        <div>
                            <input type="number" min="0" class="form-control" placeholder="Ingresa el monto" name="montoTranferencia" id="montoTranferencia">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" id="tarjetaDeCredito" name="tarjetaDeCredito" value="true">
                        <label for="tarjetaDeDebito"> Tarjeta de Crédito  </label>
                        <br>
                        <div>
                            <input type="number" min="0" class="form-control" placeholder="Ingresa el monto" name="montoTarjetaCredito" id="montoTarjetaCredito">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" id="tarjetaDeDebito" name="tarjetaDeDebito" value="true">
                        <label for="tarjetaDeDebito"> Tarjeta de Débito  </label>
                        <br>
                        <div>
                            <input type="number" min="0" class="form-control" placeholder="Ingresa el monto" name="montoTarjetaDebito" id="montoTarjetaDebito" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="boton">
                <button class="btn"> 
                    ORDENAR
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" id="card1">
            <div class="card-header" id="cardheader">
                <div class="row">
                    <div class="col"> No.</div>
                    <div class="col-md-3"> Estudios</div>
                    <div class="col-md-2"> Precio</div>
                    <div class="col-md-4">ID</div>
                    <div class="col"></div>
                </div>
            </div>

            <div class="card-body">
                <div *ngFor="let item of carrito.items; let i = index">
                    <div class="row">
                        <div class="col">
                            {{i +1}}
                        </div>
                        <div class="col-md-3">
                            {{item.producto}}
                        </div>
                        <div class="col-md-2">
                            $400.00
                        </div>
                        <div class="col-md-4">
                            AACV950728HMSRSC02/CE03/04
                        </div>
                        <div class="col text-danger">
                            Eliminar
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" id="cardfooter">
                <div class="row">
                    <div class="col">TOTAL</div>
                    <div class="col white">$1,400.00</div>
                </div>
            </div>
        </div>
    </div>
</section>