#container{
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    margin-left: 90px;
    font-size: 2rem;
}

.card-body{
    padding: 0px;
}

.card-body div{
    color: black;
    font-size: 1.3rem;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

#solicito{
    width: 23rem;
    border-radius: 20px;
    height: 30px;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
}

#montoEfectivo, #montoTranferencia, #montoTarjetaCredito, #montoTarjetaDebito{
    height: 25px;
    width: 160px;
    border-radius: 50px;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
}

#card {
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
    width: 100% !important;
    height: 35rem;
}

#card1 {
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
    width: 100% !important;
    height: 35rem;
}

#card1 .card-body div{
    margin-top: 5px;
    font-size: .8rem;
    font-weight: bolder;
    margin: 0px 0px 3px 5px !important;
}

#cardheader {
    background-color: #00acd8 !important;
    border-radius: 2rem 2rem 0rem 0rem;
    color: white;
    font-weight: 600;
    text-align: center;
}

#metodos{
    background-color: #00acd8;
    height: 40px;  
    width: 100% !important;
    margin: 0px !important;  
}

#metodos div{
    margin: 5px 0px 0px 0px !important;
    color: white !important;
}

.btn{
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
}

#boton{
    margin-top: 20px;
    text-align: center;
}

#cardfooter {
    background-color: #00acd8 !important;
    border-radius: 0rem 0rem 2rem 2rem;
    color: white;
    font-weight: 400;
    text-align: end;
}

#cardfooter .col{
    text-align: left;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
