<div class="container-fluid">
     <p class="estilosxd">DETALLE DEL MATERIAL</p>

     <div class="row">
        <div class="col-md-8">
                 <input type="text" name="" placeholder="Buscar" class="form-control">
           </div>
           <div class="col-md-2"></div>
           <div class="col-md-2">
            <input class="principalButton" type="submit" value="IMPRIMIR">
           </div>
     </div>

      
        <div
        class="card textos"
        name="card"
        id="card"
        style="border-radius: 2.5rem !important"
      >
        <div class="row mt-4">
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">NOMBRE:</p>
              <div class="col-8 p-0">
                <p>CONCENTRARIO ERICTROCITARIO</p>
              </div>
            </div>
          </div>
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">ID:</p>
              <div class="col-8 p-0">
                <p>2RKFJNRLF245OUTJ5P4OP45JO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">TIPO DE PRODUCTO:</p>
              <div class="col-8 p-0">
                <p>HEMODERIVADOS</p>
              </div>
            </div>
          </div>
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">PRECIO:</p>
              <div class="col-8 p-0">
                <p>$300.00 MX</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">PROVEDOR:</p>
              <div class="col-8 p-0">
                <p>PFIZER</p>
              </div>
            </div>
          </div>
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">FACTURA DE ORIGEN:</p>
              <div class="col-8 p-0">
                <p>PFIZER</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col ml-4">
            <div class="row m-0">
              <p class="col-md-4">DESCRIPCION:</p>
              <div class="col-8 p-0">
                <p>Los antigenos relacionados con el sistema ABO</p>
              </div>
            </div>
          </div>
          <div class="col ml-4"></div>
        </div>
        <div class="row justify-content-center">
          <hr class="col-11" style="border-top: 2.5px solid rgba(0, 0, 0, 0.7)" />
        </div>
    
        <div class="d-flex justify-content-around pl-5 pr-5 ml-5 mr-5 mb-4">
          <div class="col-3">
            <div class="d-flex justify-content-center">
              <div>
                <p class="d-flex justify-content-center align-items-center m-0">
                  <i class="fas fa-boxes fa-4x"></i>
                </p>
              </div>
              <div class="justify-content-center d-flex flex-column pl-3 pr-3">
                <p class="mgb d-flex justify-content-center m-0">
                  <span>STOCK</span>
                </p>
                <p class="d-flex justify-content-center mb-0">
                  <span>20 UNIDADES</span>
                </p>
              </div>
              </div>
          </div>
    
          <div class="col-3">
            <div class="d-flex justify-content-center">
              <div>
                <p class="d-flex justify-content-center align-items-center m-0">
                    <i class="fas fa-arrow-up fa-4x"></i>
                </p>
              </div>
              <div class="justify-content-center d-flex flex-column pl-3 pr-3">
                <p class="mgb d-flex justify-content-center m-0">
                  <span>VENTA</span>
                </p>
                <p class="d-flex justify-content-center mb-0">
                  <span>120 UNIDADES</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-center">
              <div>
                <p class="d-flex justify-content-center align-items-center m-0">
                  <i class="far fa-hospital fa-4x"></i>
                </p>
              </div>
              <div class="justify-content-center d-flex flex-column pl-3 pr-3">
                <p class="mgb d-flex justify-content-center m-0">
                  <span>OTROS HOSPITALES</span>
                </p>
                <p class="d-flex justify-content-center mb-0">
                  <span>35 UNIDADES</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-center">
              <div>
                <p class="d-flex justify-content-center align-items-center m-0">
                  <i class="far fa-arrow-alt-circle-down fa-4x"></i>
                </p>
              </div>
              <div class="justify-content-center d-flex flex-column pl-2 pr-2">
                <p class="mgb d-flex justify-content-center m-0">
                  <span>CANTIDAD MINIMA</span>
                </p>
                <p class="d-flex justify-content-center mb-0">
                  <span>10 UNIDADES</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
     <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-1 text_header" style="text-align: left; margin-left: 15px;">
                            <p class="tipografia">No.</p>
                        </div>
    
                        <div class="col-md-2 text_header">
                            <p class="tipografia">ID</p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">LOTE</p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">LOTE UNITARIO</p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">LUGAR DE ORIGEN </p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">PROVEDOR </p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">FACTURA </p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">DESTINO</p>
                        </div>
                        <div class="col text_header">
                            <p class="tipografia">STATUS</p>
                        </div>
                    </div>
                </div>
    
                <div class="card-body">
                    <div>
                        <div class="row" id="pointer">
                            <div class="col-md-1" style="text-align: left;">
                                <p>
                                    01
                                </p>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                <p>
                                   12390239302
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    500
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    1203
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    OTROS HOSPITALES
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   Pfizer
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    12322980239
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    USUARIO FINAL
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    VENTANA
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-body">
                    <div>
                        <div class="row" id="pointer">
                            <div class="col-md-1" style="text-align: left;">
                                <p>
                                    02
                                </p>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                <p>
                                   12390239302
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    500
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    1203
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    OTROS HOSPITALES
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   Pfizer
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    12322980239
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    USUARIO FINAL
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   VENTA 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-body">
                    <div>
                        <div class="row" id="pointer">
                            <div class="col-md-1" style="text-align: left;">
                                <p>
                                    03
                                </p>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                <p>
                                   12390239302
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    500
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    1203
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    OTROS HOSPITALES
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   Pfizer
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    12322980239
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    USUARIO FINAL
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                   VENTA 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
    </div>
  </div>
</div>
