.car{
    padding: 2.0rem;
    box-shadow: 2px 2px 10px 6px rgb(196, 192, 196);
    border-radius: 50px;
      
    
}
.estilos{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 52px;
    margin-left: 45px;
   
}
.form-control{
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    border:none;
    outline: none;
    box-shadow: 2px 2px 20px 6px rgb(196, 192, 196);
    height: 30px;
    
}
.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline: none;
    
}
#alineacion{
    margin-left: 45px;
}
.rounded{
    width: 200px;
    height: 200px;
}