
     <p class="estilos">LISTADO DE SEDES</p>
    <div class="row">
         <div class="col-md-6">
           <input type="text" placeholder="Buscar"  required class="form-control" id="alineacion">
         </div>
          <div class="col-md-2"></div>
        <div class="col-md-2">
          <input class="principalButton" type="submit" value="REGISTRAR">
        </div>
    </div>
    <br>
    <div class="row">
         <div class="  col-md-3" id="alineacion">
            <img src="https://elsouvenir.com/wp-content/uploads/2019/07/Las-iglesias-mas-hermosas-de-Puebla.-Foto-Pedro-Lastra-560x600.jpg" class="rounded">
         </div>
         <div class=" col-md-3">
            <img src="https://todoenimgenes.com/wp-content/uploads/2016/04/descarga-1-11.jpg" class="rounded">
         </div>
        <div class=" col-md-3">
            <img src="https://todoenimgenes.com/wp-content/uploads/2016/04/descarga-1-11.jpg" class="rounded">
        </div>
         <div class=" col-md-2">
            <img src="https://todoenimgenes.com/wp-content/uploads/2016/04/descarga-1-11.jpg" class="rounded">
         </div>
    </div>
      <br>
      <br>
    <div class="row">
        <div class="col-md-3" id="alineacion">
           <img src="https://img.ecartelera.com/noticias/59700/59701-m.jpg" class="rounded">
        </div> 
    </div>
