
.container-fluid{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.centerxd{
    font-weight: bold;
    font-size: 2.2rem;
    color: #999;
}
.container{
    border-radius: 24px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}
.col-4{
    padding: 1rem;
}
.espaciador{
    padding-top: 3rem;
}
.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}
.card-heder{
    border-top-left-radius: 24px;
    border-top-right-radius: 30px;
    background-color: #00ACD8;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.card-heder .row p{
    font-size: 1rem;
}

.card-body{
    height:200px;
}

.card-body .row p{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}
.card-footer{
    border:none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    color: black;
}