body {
    font-family: 'Times New Roman';
    font-size: 1em;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.Normal {
    text-align: left;
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: avoid;
    line-height: 107.916664%;
    margin-top: 0pt;
    margin-bottom: 8pt;
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Default-Paragraph-Font {
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Normal-Table {}

.No-List {}

.Header {
    text-align: left;
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: avoid;
    line-height: normal;
    margin-top: 0pt;
    margin-bottom: 0pt;
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Encabezado-Car {
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Footer {
    text-align: left;
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: avoid;
    line-height: normal;
    margin-top: 0pt;
    margin-bottom: 0pt;
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Pie-de-página-Car {
    font-family: Calibri;
    font-size: 11pt;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.containeerxd {
    max-width: 1000px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px rgb(69, 71, 70);
}

.centrardos {
    margin: 0 auto;
    margin-left: 11rem;
}