.cardPer {
    margin: 0 auto;
    max-width: 955px;
    border-color: white;
    border-radius: 2em;
    /* box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 80% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

h4 {
    margin-right: 1rem;
    font-weight: 700;
}

.letras h3 {
    font-size: 1rem!important;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 1rem;
}

.res {
    border-radius: 5px;
}

span {
    text-transform: lowercase;
}

.txtarea {
    max-width: 620px;
    max-height: 50px;
}

.custom-select {
    text-transform: uppercase;
}

.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
}

.modal-dialog {
    max-width: 60rem; /* Full width */
    height: 100%; /* Full height */
    border-radius: 2rem;
    top: 50px;
}

#nopuede{
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

#sipuede{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

.modal-header{
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center
}

.modal-body p{
    font-size: 1.5rem;
    font-weight: bold;
}

#diferir{
    margin-left: 20px;
}

#motivo{
    border-radius: 20px;
    height: 5rem;
    width: 50rem;
    margin-left: 20px;
    border: none;
    box-shadow: 5px 2px 20px 1px rgba(196, 192, 196, 1); 
    outline:none;
    padding: 10px;
}

.modal-content {
    border-radius: 2rem;
    width: 180rem; 
    height: 25rem; 
    background-color: #fefefe;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}