<div class="container">
    <h1>DOCUMENTOS DEL RECEPTOR</h1>
    <section>
        <app-fichas-identificacion [data]="paciente" [rol]="'recepcion'"></app-fichas-identificacion>
        <!-- <app-ficha-info-censur [pacienteInfo]="paciente"></app-ficha-info-censur> -->
    </section>

    <div class="row" id="pointer" style="margin-bottom: 15px;">
        <div class="col" *ngFor="let item of documentosReceptor">
            <a href="https://censur.s3.amazonaws.com/{{item}}">{{item}}</a>
            <!-- <h5>Consentimiento_informado_de_transfusion.pdf</h5> -->
        </div>
        <!-- <div class="col">
            <h5>Solicitud_de_transfusion.pdf</h5>
        </div> -->
    </div>

    <div class="card">
        <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>
                <!-- <span class="material-icons">
                    add
                </span> -->
                AGREGAR ARCHIVOS
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label style="font-size: .5rem;">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
</div>
<div class="btn btn-primary center">
    Guardar
</div>

<section class="display-none" id="sppiner-section">
    <div class="row">
        <div class="sppiner-bg">
            <div class="spinner-stock">
                <div class="col-md-12">
                    <app-sppiner></app-sppiner>
                </div>
            </div>

        </div>
    </div>
</section>