.btn{
    margin-left: 37rem; 
    margin-top: 2rem;
    text-transform: uppercase;
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #00acd8;
    border-color: #00acd8;
}

#pointer {
    cursor: pointer;
}

h5{
    color: #00acd8;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
}

.card{  
    box-shadow: 3px 3px 10px #686A8F;
    height: 200px;
    border-radius: 30px;
}

ngx-dropzone{
    border-radius: 30px;
    align-items: center;
    border: none;
}

