.mayus {
    text-transform: uppercase;
    font-weight: 700;
}

.titless {
    font-size: 2.2rem;
}

.card {
    margin-top: 1.3rem;
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.textoImprimir {
    margin-top: 1rem;
    margin-left: 3rem;
    color: #000000;
}

.btn-label {
    float: right;
    /* margin-bottom: 4rem; */
    margin-top: -6rem;
    position: relative;
    background-color: white;
    border: 0;
    color: blue;
}

.centerxd {
    margin-left: 32rem;
    margin-top: -4rem;
}