<!-- Content Wrapper -->

<div id="content-wrapper noprint" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow mr-auto">
            <!--div class="col-2"></div-->
            <div class="col-8">
                <a class="nav-link" [routerLink]="['/']">
                    <img src="../../../assets/images/dibujo-1.svg" width="200" height="200">
                </a>
            </div>
            <div class="col-4" style="text-align: end;">
                <!--a (click)="cerrarSesion()"-->
                <!-- <i class="fas fa-sign-out-alt fa-sm fa-fw"></i> -->
                <button type="button" class="btn btn-link" (click)="cerrarSesion()">CERRAR SESIÓN </button>
                <!--/a-->
            </div>
            <!--div class="col-2"></div>
             Topbar Navbar -->
        </nav>
        <!-- End of Topbar -->