<div class="container-fluid">
<div class="estilo text-secondary">DATOS GENERALES</div>
</div>
<form [formGroup]="formsede" (ngSubmit)="onsavesede()"> 

    <div class= "card">
       
        <div class="container first">
         <div class="row">
            <div class="col">
               <label> CLINICA/HOSPITAL</label>
            </div>
            <div class="col">

                <input formControlName="clinica" type="text" class="form-control" >  
                <div class="alert" *ngIf="submitted && f.clinica.status == 'INVALID'">
                   Campo obligatorio
                </div>


             </div>
             <div class="col">
                <label >RAZON SOCIAL</label> 
                </div>
                <div class="col">
             <input type="text" class="form-control" formControlName="razon">
             <div class="alert" *ngIf="submitted && f.razon.status == 'INVALID'">
                Campo obligatorio
            </div>

            </div>
         </div>
        </div>
<div class="container first">
    <div class="row">
    <div class="col">
        <label> RFC</label>
    </div>
    <div class="col">
    <input type="text" class="form-control" formControlName="rfc">
    <div class="alert" *ngIf="submitted && f.rfc.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label> RESPONSABLE SANITARIO</label>
</div>
    <div class="col"><input type="text" class="form-control" formControlName="responsable_sa">
        <div class="alert" *ngIf="submitted && f.responsable_sa.status == 'INVALID'">
           Campo obligatorio
       </div>
    </div>
    </div>
</div>
<div class="container first">
    <div class="row">
    <div class="col">
      <label>CONTACTO</label>
    </div>
    <div class="col">
    <input type="text" class="form-control" formControlName="contacto">
    <div class="alert" *ngIf="submitted && f.contacto.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
  <label>GÉNERO</label>
</div>
    <div class="col">
    <input type="text" class="form-control" formControlName="genero">
    <div class="alert" *ngIf="submitted && f.genero.status == 'INVALID'">
       Campo obligatorio
   </div>
    </div>
    </div>
</div>
<div class="container first">
        <div class="row">
    <div class="col">
      <label>FECHA</label>
    </div>
    <div class="col">
    <input type="text" class="form-control" formControlName="fecha">
    <div class="alert" *ngIf="submitted && f.fecha.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
  <label>TELEFONO</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="telefono">
    <div class="alert" *ngIf="submitted && f.telefono.status == 'INVALID'">
       Campo obligatorio
   </div>
    </div>
    </div>
</div>
<div class="container first">
    <div class="row">
    <div class="col">
      <label>USUARIO</label>
    </div>
    <div class="col">
    <input type="text" class="form-control" formControlName="usuario">
    <div class="alert" *ngIf="submitted && f.usuario.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label> CONTRASEÑA</label>
</div>
    <div class="col">
    <input type="pass" class="form-control" formControlName="contrasena">
    <div class="alert" *ngIf="submitted && f.contrasena.status == 'INVALID'">
       Campo obligatorio
   </div>
    </div>
    </div>
</div>
<div class="container first">
    <div class="row">
<div class="col">
   <label> CORREO</label>
   </div>
    <div class="col">
    <input type="pass" class="form-control" formControlName="correo">
    <div class="alert" *ngIf="submitted && f.correo.status == 'INVALID'">
       Campo obligatorio
   </div>
    </div>
<div class="col"><label> RESPONSABLE DEL SERVICIO INSTITUCIONAL</label></div>
    <div class="col">
    <input type="text" class="form-control" formControlName="responsable_si">
    <div class="alert" *ngIf="submitted && f.responsable_si.status == 'INVALID'">
       Campo obligatorio
   </div>
    </div>
    </div>
   
        
</div>
<div class= "card">
<div class="Container">
     <h2>DIRECCIÓN</h2>
</div>
<div class="container first">
    <div class="row">
<div class="col">
   <label>CALLE</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="calle">
    <div class="alert" *ngIf="submitted && f.calle.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
  <label>NUMERO EXTERIOR</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="no_exterior">
    <div class="alert" *ngIf="submitted && f.no_exterior.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
</div>
</div>
<div class="container first">
    <div class="row">
<div class="col">
  <label>CODIGO POSTAL</label> 
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="postal">
    <div class="alert" *ngIf="submitted && f.postal.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label>PAIS</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="pais">
    <div class="alert" *ngIf="submitted && f.pais.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
</div>
</div>
<div class="container first">
    <div class="row">
<div class="col">
  <label>ESTADO</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="estado">
    <div class="alert" *ngIf="submitted && f.estado.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
  <label>MUNICIPIO</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="municipio">
    <div class="alert" *ngIf="submitted && f.municipio.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
</div>
</div>
<div class="container first">
    <div class="row">
<div class="col">
  <label>REFERENCIA 1</label>
</div>
<div class="col">
    <input type="text" class="form-control" formControlName="ref_1">
    <div class="alert" *ngIf="submitted && f.ref_1.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label> REFERENCIA 2</label>
    </div>
<div class="col">
    <input type="text" class="form-control" formControlName="ref_2">
    <div class="alert" *ngIf="submitted && f.ref_2.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
</div>
</div>

<div class="Container">
   <h2> DATOS FISCALES</h2>
</div>

<div class="col">
   <h1> ¿TU DOMICILIO FISCAL ES EL MISMO QUE TU DOMICILIO ACTUAL?</h1>
    <label class="checkbox-inline">
        <input type="checkbox" id="checkboxEnLinea1" value="opcion_1"> Si
         </label>
        <label class="checkbox-inline">
        <input type="checkbox" id="checkboxEnLinea2" value="opcion_2"> No
    </label>
</div>
<div class="container first">
     <div class="row">
        <div class="col">
        <label>RAZON SOCIAL</label>
        </div>
        <div class="col">
        <input type="text" class="form-control" formControlName="razon_em">
        <div class="alert" *ngIf="submitted && f.razon_em.status == 'INVALID'">
           Campo obligatorio
       </div>
         </div>
<div class="col">
   <label> RFC </label>
</div>
     <div class="col">
        <input type="text" class="form-control" formControlName="rfc_em">
        <div class="alert" *ngIf="submitted && f.rfc_em.status == 'INVALID'">
           Campo obligatorio
       </div>
        </div>
    </div>
</div>

<div class="container first">
    <div class="row">
    <div class="col">
     <label>CODIGO POSTAL</label>
    </div>
    <div class="col">
    <input type="number" class="form-control" formControlName="postal_em">
    <div class="alert" *ngIf="submitted && f.postal_em.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label> ESTADO</label>
</div>
    <div class="col">
        <input type="text" class="form-control" formControlName="estado_em">
        <div class="alert" *ngIf="submitted && f.estado_em.status == 'INVALID'">
           Campo obligatorio
       </div>
    </div>
    </div>
</div>
<div class="container first">
    <div class="row">
    <div class="col">
       <label > MUNICIPIO</label>
       </div>
    <div class="col">
    <input type="text" class="form-control" formControlName="municipio_em">
    <div class="alert" *ngIf="submitted && f.municipio_em.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
<div class="col">
   <label> CALLE</label>
  </div>
<div class="col">
<input type="text" class="form-control" formControlName="calle_em">
<div class="alert" *ngIf="submitted && f.calle_em.status == 'INVALID'">
   Campo obligatorio
</div>
</div>
</div>
</div>

<div class="container first">
<div class="row">
<div class="col">
   <label > NUMERO EXTERIOR</label>
</div>
<div class="col">
<input type="number" class="form-control" formControlName="no_exterior_em">
<div class="alert" *ngIf="submitted && f.exterior_em.status == 'INVALID'">
   Campo obligatorio
</div>
</div>
<div class="col">
   <label> CORREO</label>
</div>
<div class="col"><input type="text" class="form-control" formControlName="correo_em">
    <div class="alert" *ngIf="submitted && f.correo_em.status == 'INVALID'">
       Campo obligatorio
   </div>
</div>
</div>
</div>
</div>

<section class="row mt-4 noprint">
      <div class="offset-md-5 col-md-2">
   
        <input class="principalButton" type="submit" value="REGISTRAR">
      </div>
</section>

    
</div>
</form>

