.card{
    padding: 1.5rem;
}

.form-control{
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    border:none;
    outline: none;
    box-shadow: 2px 2px 20px 6px rgb(196, 192, 196);
    height: 30px;
    
}

.principalButton{
    background-color: #00acd8; 
    margin-top: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline: none;
}
.estilo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    
}

.container{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

}
label{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
color: #000000;
}
h2{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 37px;
color: #898A8D;
}
h1{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #000000;
}