.card{
    box-shadow: 3px 3px 10px gray;
    border-radius: 20px;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

p{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 1rem;
    color: black;
}

label{
    font-size: 1rem;
    color: black;
}

.form-group{
    margin-left: 40px;
}

h3{
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
}

span{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
}


.modal-dialog {
    max-width: 60rem; /* Full width */
    height: 100%; /* Full height */
    border-radius: 2rem;
    top: 50px;
}

#nopuede{
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

#sipuede{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

.modal-header{
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center
}

.modal-body p{
    font-size: 1.5rem;
    font-weight: bold;
}

#diferir{
    margin-left: 20px;
}

#motivo{
    border-radius: 20px;
    height: 5rem;
    width: 50rem;
    margin-left: 20px;
    border: none;
    box-shadow: 5px 2px 20px 1px rgba(196, 192, 196, 1); 
    outline:none;
    padding: 10px;
}

.modal-content {
    border-radius: 2rem;
    width: 180rem; 
    height: 25rem; 
    background-color: #fefefe;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
}

/* .modal-header{
    height: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    align-items: center;
} */

  /* .modal-body p{
    font-size: 1.5rem;
    text-align: center;
  }

  #diferir{
      margin-left: 100px;
  }

  #motivo{
    box-shadow: 3px 3px 10px gray;
    border-radius: 20px;
    border: none;
    height: 5rem;
    width: 50rem;
  } */
  
  /* Modal Content/Box */
  /* .modal-content {
    border-radius: 2rem;
    width: 180rem; 
    height: 25rem; 
    background-color: #fefefe;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
  } */
 