<section>
    <app-fichas-identificacion [data]="paciente"></app-fichas-identificacion>
    <!-- <app-ficha-info-censur [pacienteInfo]="paciente"></app-ficha-info-censur> -->
</section>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-heder header">
                <div class="row">
                    <div class="col-md-1 text_header" style="text-align: left; margin-left: 15px;">
                        <p>No.</p>
                    </div>

                    <div class="col text_header">
                        <p>Fecha</p>
                    </div>
                    <div class="col text_header">
                        <p>Tiempo de Espera</p>
                    </div>
                    <div class="col text_header">
                        <p>Producto</p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <!-- <div *ngFor="let item of pacientes; let i=index">
                    <div class="row" id="pointer" [routerLink]="['/historia/clinica/doctor', item._id]">
                        <div class="col-md-1" style="text-align: left;">
                            <p>
                                {{i + 1}}
                            </p>
                        </div>
                        <div class="col" style="text-align: center;">
                            <p>
                                {{ item.paciente.nombrePaciente | uppercase }} {{ item.paciente.apellidoPaterno | uppercase }} {{ item.paciente.apellidoMaterno | uppercase }}
                            </p>
                        </div>
                        <div class="col-md-3" style="text-align: center;">
                            <p>
                                {{item.paciente.curp | uppercase}}
                            </p>
                        </div>
                        <div class="col" style="text-align: center;">
                            <p>
                                {{item.paciente.edad}}
                            </p>
                        </div>
                        <div class="col" style="text-align: center;">
                            <p>
                                {{item.paciente.genero | uppercase}}
                            </p>
                        </div>
                        <div class="col" style="text-align: center;">
                            <p>
                                {{item.paciente.lugardeorigen | uppercase}}
                            </p>
                        </div>
                    </div>
                </div> -->

                <!-- SOLO SON DEMOSTRATIVOS -->

                <div class="row">
                    <div class="col-md-1" style="text-align: left;">
                        <p>
                            01
                        </p>
                    </div>
                    <div class="col" style="text-align: center;">
                        <p>
                            11/09/2021
                        </p>
                    </div>
                    <div class="col-md" style="text-align: center;">
                        <p>
                            3 Meses
                        </p>
                    </div>
                    <div class="col" style="text-align: center;">
                        <p>
                            Sangre Total
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>