p, label{
    color: black;
    font-size: .8rem;
    font-weight: bold;
}

#relacion{
    box-shadow: 6px 10px 15px 2px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    border: none;
    outline: none;
}

#aborto{
    box-shadow: 6px 10px 15px 2px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    border: none;
    outline: none;
}

#parto{
    box-shadow: 6px 10px 15px 2px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    border: none;
    outline: none;
}

.row{
    margin-top: 15px;
}