.head-container {
    border: 1px solid #282788;
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: 4rem;
    max-width: 1100px;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 15px;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.cen {
    color: #001672;
}