<div class="container-fluid" style="padding-left: 3.5rem;
padding-right: 3.5rem;">
<section class="row">
    <div class="col">
        <h1 class="centerxd" id="centerxd">ADQUIRIR PAQUETE</h1>
    </div>
    <div class="col">
        <h1 class="fecha" id="fecha">{{ fecha}}</h1>
    </div>
</section>
<section class="row">
    <div class="card" name="card" id="card">
        <br>
        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <p> <span>  Nombre: {{ paciente.nombrePaciente | uppercase }} {{ paciente.apellidoPaterno | uppercase }} {{ paciente.apellidoMaterno | uppercase }} </span> </p>
            </div>
            <div class="col">
                <p> <span> Edad: {{ paciente.edad }} </span> </p>
            </div>
            <div class="col">
                <p> <span> Género: {{paciente.genero | uppercase  }} </span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <p>Domicilio: {{ paciente.callePaciente | uppercase }} {{paciente.estadoPaciente | uppercase }} {{ paciente.paisPaciente | uppercase }} {{ paciente.cpPaciente}} {{ paciente.colonia | uppercase}} </p>
            </div>
            <div class="col">
                <p>Fecha de Nacimiento: {{paciente.fechaNacimientoPaciente}} </p>
            </div>
            <div class="col">
                <p>Lugar de Nacimiento: {{ paciente.estadoPaciente | uppercase }} {{ paciente.paisPaciente | uppercase }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <p>Teléfono: {{ paciente.telefono }} </p>
            </div>
            <div class="col">
                <p>Correo: {{paciente.correoPaciente}} </p>
            </div>
            <div class="col">
                <p> ID: {{ id }} </p>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="card" name="card" id="card">


        <div class="container2">
            <!-- <img src="../../../assets/images/encabezado.jpg" class="img-fluid"> -->

            <!-- Queda pendiente el celular y el municipio -->


            <form class="formulario" class="container" #f='ngForm' (ngSubmit)="enviar( f )">


                <!-- <h5 class="center"> DATOS GENERALES </h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="NOMBRE" name="nombrePaciente" [(ngModel)]="paciente.nombrePaciente" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="APELLIDO PATERNO" class="form-control" name="apellidoPaterno" [(ngModel)]="paciente.apellidoPaterno">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="APELLIDO MATERNO" class="form-control" name="apellidoMaterno" [(ngModel)]="paciente.apellidoMaterno">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                 <label> FECHA DE NACIMIENTO: </label> 
                <input type="date" class="form-control" [(ngModel)]="paciente.fechaNacimientoPaciente" name="fechaNacimientoPaciente">
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <input type="text" name="genero" id="genero" class="form-control" [(ngModel)]="paciente.genero">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">

                    <input type="number" placeholder="EDAD" name="edad" class="form-control" [(ngModel)]="paciente.edad">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" name="paisNacimiento" placeholder="NACIONALIDAD" [(ngModel)]="paciente.paisNacimiento">
                </div>
            </div>

        </div>

        <h5 class="center"> DOMICILIO PARTICULAR </h5>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CALLE Y NÚMERO" [(ngModel)]="paciente.callePaciente" name="callePaciente">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="COLONIA" name="colonia" [(ngModel)]="paciente.colonia">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="MUNICIPIO" name="municipioPaciente" [(ngModel)]="paciente.municipioPaciente">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ESTADO" name="estadoPaciente" [(ngModel)]="paciente.estadoPaciente">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CÓDIGO POSTAL" name="cpPaciente" [(ngModel)]="paciente.cpPaciente">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="TELÉFONO FIJO" [(ngModel)]="paciente.telefono" name="telefono">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="CELULAR" name="celular" ngModel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="EMAIL" name="correoPaciente" [(ngModel)]="paciente.correoPaciente">
                </div>
            </div>
        </div> -->



                <h5 class="center" style="margin-top: 30px;"> DATOS ADICIONALES </h5>

                <div class="row">

                    <div class="col-md-9">
                        <div class="form-group">
                            <!--Cambios-->
                            <label for="inciioMembresia">  Listado de paquetes </label>
                            <select class="form-control" #paq (change)="getPaquete( paq.value )">
                                <option selected>SELECCIONA UN PAQUETE</option>
                                <option *ngFor="let paquete of paquetesDB"  [value]="paquete._id"  >
                                    {{ paquete.nombrePaquete }}
                                </option>         
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" *ngIf="membresiavali !== 0">
                            <label for="inciioMembresia">  Inicio de la membresía </label>
                            <!-- max="{{infoVenta.fecha}}" -->
                            <input class="form-control" type="date" name="fechaInicioMembresia" [value]="maxDay" [(ngModel)]="infoVenta.fecha" [max]="maxDay">
                            <!-- <label for="">  {{ maxDay  | date :'MMM d, y'	}}</label> -->

                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <p> CONTACTO DE EMERGENCIA 1 </p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="NOMBRE COMPLETO" name="contactoEmergencia1Nombre" [(ngModel)]="paciente.contactoEmergencia1Nombre">
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">

                            <!-- (change)="validarSelect( parentesco1)"  -->
                            <select class="form-control" name="contactoEmergencia1Parentesco" [(ngModel)]="paciente.contactoEmergencia1Parentesco"> 
   
                <option>    PARENTESCO  </option>
                <option value="abuelos" >    ABUELOS     </option>
                <option value="padres" >     PADRES      </option>
                <option  value="hermanos">   HERMANOS    </option>
                <option  value="tios">       TÍOS        </option>
                <option value="otros">       OTROS       </option>
                <option value="tutor" >      TUTOR       </option>
            
        </select>


                            <!-- <input type="text" class="form-control" name="parentesco1" id="parentesco1" placeholder="Parentesco" [value]="paciente.contactoEmergancia1"> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="TELÉFONO" name="contactoEmergencia1Telefono" class="form-control" [(ngModel)]="paciente.contactoEmergencia1Telefono">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <p> CONTACTO DE EMERGENCIA 2 </p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="contactoEmergencia2Nombre" [(ngModel)]="paciente.contactoEmergencia2Nombre" class="form-control" placeholder="NOMBRE COMPLETO">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- (change)="validarSelect( parentesco2 )"  -->
                            <select class="form-control" name="contactoEmergencia2Parentesco" [(ngModel)]="paciente.contactoEmergencia1Parentesco"> 
                <optgroup>
                    <option selected  >    PARENTESCO  </option>

                    <option value="abuelos" >    ABUELOS     </option>
                    <option value="padres" >     PADRES      </option>
                    <option  value="hermanos">   HERMANOS    </option>
                    <option  value="tios">       TÍOS        </option>
                    <option value="otros">       OTROS       </option>
                    <option value="tutor" >      TUTOR       </option>
                </optgroup>
                
                
            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="TELÉFONO" name="contactoEmergencia2Telefono" [(ngModel)]="paciente.contactoEmergencia2Telefono" class="form-control">
                        </div>
                    </div>
                </div>
                <br>
                <h5 class="center"> DOMICILIO FISCAL </h5>
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" placeholder="NOMBRE O RAZÓN SOCIAL" name="razonSocial1" [(ngModel)]="paciente.razonSocial1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" placeholder="RFC" name="RFCFiscal" class="form-control" [(ngModel)]="paciente.razoncocial1RFC" name="razoncocial1RFC">
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" placeholder="CALLLE Y NÚMERO" name="razonSocial1Calle" [(ngModel)]="paciente.razonSocial1Calle" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" placeholder="COLONIA" class="form-control" name="razonSocial1colonia" [(ngModel)]="paciente.razonSocial1colonia">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" placeholder="C.P." class="form-control" [(ngModel)]="paciente.cpRazonSocial" name="cpRazonSocial">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="MUNICIPIO" [(ngModel)]="paciente.razonSocial1Municipio" name="razonSocial1Municipio">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="razonSocial1Estado" placeholder="ESTADO" [(ngModel)]="paciente.razonSocial1Estado">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="TELÉFONO" name="razonsocial1Telefono" [(ngModel)]="paciente.razonsocial1Telefono">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="EMAIL" name="correoRazonSocial1" [(ngModel)]="paciente.correoRazonSocial1">
                        </div>
                    </div>
                </div>
                <br>
                <h5 class="center servicio"> COSTO DEL SERVICIO </h5>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <p> COSTO DEL PAQUETE </p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control  input-paquete" min="0" disabled name="costoToal" [value]="paqueteSelected.costoTotal">
                            <div class="input-group-append ">
                                <span class="input-group-text"> M.N. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" disabled name="atendio" [value]="usuarioMaq.nombre" placeholder="ATENDIÓ">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p> ANTICIPO </p>
                    </div>
                    <div class="col-md-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control input-paquete" min="0" disabled name="anticipo" ngModel [value]="anticipo">
                            <div class="input-group-append ">
                                <span class="input-group-text"> M.N. </span>
                            </div>
                        </div>
                        <!-- <div class="input-group-prepend">

                    <input disabled type="text" class="form-control input-paquete">

                </div> -->
                    </div>
                </div>

                <div class="row">
                    <pdf-viewer [src]="pdfFilePath" [original-size]="false" style="display: block;"></pdf-viewer>
                </div>

                <!--cambios-->
                <br>
                <div class="row">
                    <div class="offset-md-5"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!--    -->
                            <input type="text" placeholder="VENDEDOR" disabled [value]="usuarioMaq.nombre" class="form-control" name="vendedor">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="number" min="0" placeholder="FOLIO" class="form-control" name="folio" [(ngModel)]="folio">
                        </div>
                    </div>
                </div>
                <br>
                <!--fin cambios-->

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-block btn-success" value="AÑADIR PAQUETE">
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-danger"> 
                    <!-- (click)="cancelarPaq()"  -->
                     CANCELAR 
                </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
<br>
</div>