.container-fluid{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

span {
    font-weight: 700;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}

#serv{
    border-radius: 10em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);  
}

#lugar{
    margin-top: 10px;
    border-radius: 10em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1); 
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #686A8F;
    font-style: italic;
    margin-left: 120px;
}

.header {
    background-color: #00acd8;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
#card {
    border-color: white;
    border-radius: 3em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 80% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.cardBanco{
    height: 90px;
    width: 90px;
    margin-left: 0px;
    margin-right: 0px;
}

#cardSangre{
    height: 15rem;
    width: 18rem;
    border-color: white;
    border-radius: 3em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
}

.cardAgregar{
    height: 90px;
    width: 90px;
    margin-left: -60px;
}

#cardAgregarP{
    height: 15rem;
    width: 18rem;
    border-color: white;
    border-radius: 3em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);  
}

h5{
    color: #00acd8;
    font-weight: bold;
}

