<div class="container-fluid mb-4">
    <h1 class="ml-5 title-principal">REGISTRO DE PRODUCTO</h1>
</div>


<div class="card cardPer container">
    
    <h3 class="mayus mb-4 title-registro">Datos del Producto</h3>
    
    <form  [formGroup]="newFormProductos" >


        <div class="row mb-3">
            <div class="col-md-2">
                <h5 class="mayus">nombre:</h5>
            </div>
            <div class="col-md-4">
                <input type="text"  name="nombre" id="" required formControlName="nombre">
            </div>

            <div class="col-md-2">
                <h5 class="mayus">id:</h5>
            </div>
            <div class="col-md-4">
                <input type="text" [value]="newIdProducto"  name="idProducto" id=""  disabled  formControlName="idProducto" >
            </div>
        </div>
    
        <div class="row mb-3">
            <!-- TIPO DE PRODUCTOS -->
            <div class="col-md-2">
                <h5 class="mayus">tipo de producto:</h5>
            </div>
            <div class="col-md-4">
                <select class="custom-select mayus" id="inputGroupSelect01" required   formControlName="tipo_producto" >
                    <option selected>selecciona un producto...</option>
                    <option value="Hemoderivados">One</option>
                  </select>
            </div>
            <div class="col-md-2">
                <h5 class="mayus"> Nombre comercial: </h5>
            </div>
            
            <div class="col-md-4">
                <input type="text" name="" id="" required  formControlName="nombre_comercial" />
            </div>
        </div>
        
        <div formArrayName="proveedor" *ngFor="let valor of valoresProveedor.controls; let j = index" >
            <div  [formGroupName]="j">

                <div class="row mb-3">
                    <div class="col-md-2">
                        <h5 class="mayus">proveedor:</h5>
                    </div>
                    <div class="col-md-4">
                        <select class="custom-select mayus"  id="inputGroupSelect01"  formControlName="proveedor" >
                            
                            <option [value]="proveedor.razonSocial"   *ngFor="let proveedor of proveedoresCensur" > {{ proveedor.razonSocial }} </option>
                          </select>
                    </div>
                    <div class="col-md-2">
                        <h5 class="mayus">Costo: </h5>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="" id=""  required   formControlName="costo" >
                    </div>
                </div>
            </div>
        </div>
   
    
        <div class="row">
            
            <div class="col-md-2">
                <h5 class="mayus">laboratorio:</h5>
            </div>
            <div class="col-md-4">
                <input type="text" name="" id="" required  formControlName="laboratorio">   
            </div>
        </div>
    
        <div class="row ml-1 mb-4 mt-3">
            <h5 class="mayus pointer pointer-prove" (click)="agregarProveedor()" style="color: #00acd8;">agregar  proveedor</h5>
        </div>
    
        <div class="row ml-1">
            <div class="col-md-12">
                <h5 class="mayus">descripción:</h5>
                <textarea class="mb-3" name="" id="" required cols="160" rows="3" formControlName="descripcion" (blur)="validarFormulario()" ></textarea>
            </div>
        </div>
    
        <div class="row">
            <div class="offset-md-5 col-md-3">
    
                <button (click)="enviarFormualrio()" [disabled]="btnRegistro" class="btn mayus btn-censur" style="text-align: center!important; background-color: #00acd8; color: #fff;">registrar</button>

            </div>
    
        </div>
    
    </form>
</div>