.mayus {
    text-transform: uppercase;
}

.cardPer {
    margin: 0 auto;
    max-width: 90%;
    border-color: white;
    border-radius: 2em;
    /* box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    /* width: 80% !important; */
    /* margin-bottom: 3em; */
    /* display: inline-block !important; */
}

.btn-censur {
    width:100%;
    padding:0.4rem;
    margin-bottom:0.5rem;
}
.title-registro {
    margin-top: 1.3rem;
    color: #000000;
}


h5 {
    color: #000;
    font-size: 1rem;
}

.title-principal {
    color: #686A8F;
    font-weight: 600;
}

input {
    width: 100%;
    border-radius: 20px;
}

.der {
    margin-right: 3rem;
}

select {
    border-radius: 20px;
    border-color: #000;
}

textarea {
    border-radius: 20px;
    border: 1px solid #000;
}

button {
    max-width: 7rem;
}