<div class="container">
    <!-- <section>
        <app-ficha-doctor [titulo]="'HOJA DE SERVICIO'" [pacienteInfo]="paciente"></app-ficha-doctor>
    </section> -->
</div>

<h3>ya sueltame rufián!</h3>