.card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
    max-width: 90%;
}

.cent {
    margin-left: 400px;
    margin-top: 50px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-block-end: 50px;
}

.name {
    margin-left: 18px;
    margin-top: 16px;
    font-size: 20px;
}

.nc {
    margin-left: 12px;
    font-size: 20px;
    border-radius: 0.5em;
}

.btn-block {
    margin-top: 250px;
    /* margin-right: 95px; */
    /* margin-left: 75px; */
    border-radius: 45px;
    font-size: 20px;
    margin-block-end: 16px;
}

.fecha {
    margin-left: 130px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.fech {
    margin-left: 120px;
    margin-right: 1.5px;
    font-size: 20px;
    border-radius: 0.5em;
}

.noms {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.nsc {
    margin-left: 12px;
    font-size: 20px;
    border-radius: 0.5em;
}

.pre {
    margin-left: 18px;
    font-size: 20px;
    margin-top: 16px
}

.prese {
    margin-left: 12px;
    font-size: 20px;
    border-radius: 0.5em;
}

.con {
    margin-left: 18px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.cont {
    margin-left: 12px;
    font-size: 20px;
    border-radius: 0.5em;
}

.via {
    margin-left: 18px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.viad {
    margin-left: 12px;
    font-size: 20px;
    border-radius: 0.5em;
}

.lab {
    margin-left: 18px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.labo {
    margin-left: 12px;
    margin-right: 1.5px;
    font-size: 20px;
    border-radius: 0.5em;
}

.lote {
    margin-left: 235px;
    margin-top: 16px;
    font-size: 20px;
    border-radius: 0.5em;
}

.lot {
    margin-left: 230px;
    margin-right: 2.5px;
    font-size: 20px;
    border-radius: 0.5em;
}