.centerxd {
    /* text-align: left; */
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2%;
}

.form-control {
    box-shadow: 40px 20px 30px -8px rgba(196, 192, 196, 1);
    margin-left: 2%;
    font-size: 27px;
}

.cursor {
    cursor: pointer;
}

.paginador {
    text-align: center;
}

.card {
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    padding: 0.9rem;
}

.font-bold {
    font-size: 1.6rem;
    font-weight: 700;
}

#h2 {
    color: #001672;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}

.card-body {
    margin: 15%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}