<app-ambulancia *ngIf="servicios == 'ambulancia'"></app-ambulancia>
<app-endoscopia *ngIf="servicios == 'endoscopia'"></app-endoscopia>
<app-patologia-x *ngIf="servicios == 'xray' || servicios == 'patologia' || servicios == 'otros' || servicios == 'consulta' "></app-patologia-x>
<app-lab-ulta-tomo-res *ngIf="servicios == 'laboratorio'|| servicios == 'ultrasonido'|| servicios == 'tomografia'|| servicios == 'resonancia'"></app-lab-ulta-tomo-res>