.centerxd{
    margin-left: 75px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 2rem;
}

/* .container-fluid{
    margin-left: 35px;
} */

#principal{
    margin-top: 15px;
}

#religion{
    margin-left: 30px;
}

.title,
.fecha,
span {
    font-weight: 800;
    color: #00acd8;
}

p {
    color: black;
}

.card {
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 90%;
    margin-left: 50px;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

#contenidoporaferesis{
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
}