.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}