.form-control {
    border-radius: 3em;
}
button{
    width: 10em;
}
.card{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.card-header{
    border-top-left-radius: 1.35rem !important;
    border-top-right-radius: 1.35rem !important;
    background-color: #007CC3;
    color: #ffffff;
}
.card-body{
    height: 30em;
    color: black;
}
.card-footer{
    border-top: none;
    
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}