<div class="container">
    <h1 class="title-principal-bs">LISTADO DE SERVICIOS</h1>

    <div class="row mt-3">
        <div class="col-8">
            <input type="text" class="form-control shadow-input-bs"  autofocus="autofocus"  #searchNameService   (keyup)="filterServicesByName( searchNameService )" placeholder="BUSCAR">
        </div>
        <div class="col">
            <div class="grid gap-4 col-4 mx-auto justify-content-end">
                <button class="btn btn-primary btn-censur" type="button">NUEVO</button>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    No.
                </div>
                <div class="col">
                    NOMBRE
                </div>
                <div class="col-2">
                    DESCRIPCIÓN
                </div>
                <div class="col">
                    CATEGORÍA
                </div>
                <div class="col-2">
                    PROFESIONAL A REALIZARON
                </div>
                <div class="col">
                    FACTURA
                </div>
                <div class="col">
                    HORARIO
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" *ngFor="let servicio of servicios; let i = index">
                <div class="col">
                    <p>
                        {{ i + 1 }}
                    </p>
                </div>
                <div class="col"  [routerLink]="['/detalle/servicio/almacen', servicio._id]" >
                    <p>
                        {{ servicio.nombre }}
                    </p>
                </div>
                <div class="col-2">
                    <p>
                        {{ servicio.descripcion }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ servicio.categoria }}
                    </p>
                </div>
                <div class="col-2">
                    <p>
                        {{ servicio.profesionalAREalizar }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ servicio.costo }}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {{ servicio.horario }}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            AQUI VA EL PAGINADOR 
        </div>
    </div>
</div>