.title,
.fecha,
span {
    font-weight: 800;
    color: #001672;
}

p {
    color: #001672;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}