<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 class="centerxd" id="centerxd"> ORDEN DE SERVICIO </h1>
        </div>
        <div class="col-6">
            <h1 class="fecha" id="fecha"> {{ today | date }} </h1>
        </div>
    </div>
</section>

<br>


<section class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <input type="date" #fecha (blur)="busquedaFecha(fecha)" [value]="today" [max]="today" name="busquedaporFecha" id="busquedaporFecha" class="form-control">
        </div>

        <div class="col-md-3">
            <select name="sedes" id="sedes" class="form-control" #sede (blur)="setSedeSelect( sede )">
                <option [value]="sede.nomenclatura"  name="busquedaSede"   *ngFor="let sede of sedes"> {{ sede.nomenclatura }} </option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-block principalButton" (click)="buscarPorFecha()"> Buscar... </button>
        </div>
    </div>
</section>

<br>

<section class="container-fluid">
    <div class="card">
        <div class="card-header header">
            <div class="row">
                <div class="col-md-1 text_header">
                    <p> # </p>
                </div>
                <div class="col-md-4 text_header">
                    <p> Usuario </p>
                </div>
                <div class="col-md-3 text_header">
                    <p> Servicio </p>
                </div>
                <div class="col-md-2 text_header">
                    <p> Totales </p>
                </div>

                <div class="col-md-2 text_header">
                    <p>Sede</p>
                </div>
            </div>
        </div>

        <div class="card-body" *ngFor="let item of data; let i = index">

            <div class="row">
                <div class="col-md-1 text-center">
                    <p> {{ i +1 }} </p>
                </div>
                <div class="col-md-4 pointer text-center">
                    <p [routerLink]="['/hoja/consumo/por/usuario', item._id]"> {{ item.paciente.nombrePaciente | uppercase }} {{ item.paciente.apellidoPaterno | uppercase }} {{ item.paciente.apellidoMaterno | uppercase }} </p>
                </div>
                <div class="col-md-3 text-center">
                    <p> {{ item.estudios[0].name | uppercase }} </p>
                </div>

                <div class="col-md-2 text-center">
                    <p> {{ item.totalCompra | currency }} </p>
                </div>
                <div class="col-md-2 text-center">
                    <p> {{ item.sede }} </p>
                </div>

            </div>

        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr> TOTAL: $ {{ totales }} . 00
                </div>
            </div>
        </div>

    </div>
</section>