input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    margin-top: .5rem;
}

label {
    margin: .1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
}

button {
    color: --button-package;
    /* display: block; */
}

mat-horizontal-stepper{
    border-radius: 3rem;
    background-color: white;
}

#utilidad1{
    text-align: right;
}

#utilidad2{
    margin-left: 350px;
    text-align: center;
}