.form-control{
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    border:none;
    outline: none;
    box-shadow: 2px 2px 20px 6px rgb(196, 192, 196);
    height: 30px;
}
.table th{
    background-color: #33A2FF;
    color: white;
 }
 .Container{
    font-size: 20px;
}
