.cardPer {
    margin: 0 auto;
    max-width: 955px;
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    width: 80% !important;
    margin-bottom: 3em;

}


.card-paddin-title{ 
    
    padding-top:0.6rem;
    margin-bottom: 2rem;
}


.font-color {
     color: #898A8D;
     font-weight: 600;
}

.title-card {
    margin-bottom: 1.5rem;
}

h4 {
    margin-right: 1rem;
    font-weight: 700;
}

.letras h3 {
    font-size: 1rem!important;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 1rem;
}

.res {
    
    border-radius: 20px;
    border:none;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
    padding-top: 0.3rem;
    margin-bottom:1.3rem;
}

span {
    text-transform: lowercase;
}

.txtarea {
    max-width: 620px;
    max-height: 50px;
}


.custom-select{ 

    border-radius: 20px !important;   
}