.card .row .col p{
    color: #001672;
    font-size: .8rem;
    font-weight: bold;
}

.boton{
    margin-left: -150px;
}

.principalButton{
    background-color: #00acd8;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline:none;
}

#historia{
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 90%;
    height: 85rem;
    margin-left: 50px;
    margin-bottom: 3em;
}

#indicadores{
    width: 25rem;
}

#historia .row .col #indicadores button{
    height: 3rem;
    width: 25rem;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 2rem;
    border: none;
    background-color: #00acd8;
    outline:none;
}

#historia .row .col #indicadores button p{
    color: white;
    font-size: 1.2rem;
    margin-top: 5px;
    text-align: center !important;
}

#historia .row .col div{
    width: 25rem;
}

#historia .row .col button{
    height: 3rem;
    width: 45rem;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 2rem;
    border: none;
    background-color: white;
    outline:none;
}

#historia .row .col button p{
    color: #00acd8;
    font-size: 1.2rem;
    margin-top: 5px;
    text-align: left;
    /* margin-left: 15px; */
}

#historia .row .col-6 ul li a{
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-pills[_ngcontent-ptl-c143]   .nav-link.active[_ngcontent-ptl-c143], .nav-pills[_ngcontent-ptl-c143]   .show[_ngcontent-ptl-c143]    > .nav-link[_ngcontent-ptl-c143] {
    color: #fff;
    background-color: #00acd8;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #fff;
    background-color: #00acd8;
}

a{
    color: #001672;  
}

ul{
    margin: 40px;
}

.nav-item{
    margin-top: 15px;
    
}

.nav-link{
    border-radius: 50px;
    height: 50px;
}

.tab-content{
    margin: 40px;
}

a:hover{
    color: #00acd8;
}