.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.estilosxd{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 52px;
    margin-left: 45px;
}
#alineacion{
    margin-left: 30px;
}
.form-control{
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 20px;
    border:none;
    outline: none;
    box-shadow: 2px 2px 20px 6px rgb(196, 192, 196);
    height: 30px;
    
}
.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
}
.card-heder .row p{
    font-size: .7rem;
}
.card-body .row p{
    font-size: .7rem;
    color: black;
    font-weight: bold;
}