.card{
    margin-top: 1rem;
    border-radius: 24px;
    padding: 2em;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}
label{
    font-weight: bold;
}
.row{
    align-items: center;
}
.form-control{
    border-radius: 20px;
}
.documentos{
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}
input{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
textarea{
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
}
button{
    border-radius: 20px;
}