<div class="container-md">
    <h1 class="title-principal-bs">REGISTRO DE PROVEEDOR</h1>
    
    <div class="card">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
        <div class="row">
            <div class="col">
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">NOMBRE DE LA EMPRESA: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" tabindex="1" id="nombreEmpresa" name="nombreEmpresa" [class.is-invalid]="nombre.invalid && nombre.touched" [(ngModel)]="proveedor.nombreEmpresa" required #nombre="ngModel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">RAZÓN SOCIAL: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" tabindex="3" id="razonSocial" name="razonSocial" [class.is-invalid]="razon.invalid && razon.touched" [(ngModel)]="proveedor.razonSocial" required #razon="ngModel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">CONTACTO: </label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" tabindex="5" id="contacto" min="0" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" name="contacto" [class.is-invalid]="contacto.invalid && contacto.touched" [(ngModel)]="proveedor.contacto" required #contacto="ngModel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">RFC: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" tabindex="7" id="rfcEmpresa" maxlength="10"  name="rfcEmpresa" [class.is-invalid]="rfc.invalid && rfc.touched" [(ngModel)]="proveedor.rfcEmpresa" required #rfc="ngModel">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">ID: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="IDProveedor" disabled="disabled" name="idProveedor" [(ngModel)]="proveedor.idProveedor" >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">DOMICILIO: </label>
                    <div class="col-sm-7">

                        <input type="text" class="form-control" tabindex="4" id="domicilio" name="domicilio" [class.is-invalid]="domicilio.invalid && domicilio.touched" [(ngModel)]="proveedor.domicilio" required #domicilio="ngModel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">CORREO: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" tabindex="6" id="correo" pattern='[a-z0-9._%+-]+@[a-z0-9]+\.[a-z]{2,3}$' name="correo" [class.is-invalid]="correo.invalid && correo.touched" [(ngModel)]="proveedor.correo" required #correo="ngModel">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-5 col-form-label">DÍAS DE DISTRIBUCIÓN: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" tabindex="8" id="diasDistribucion" name="diasDistribucion" [class.is-invalid]="diasD.invalid && diasD.touched" [(ngModel)]="proveedor.diasDistribucion" required #diasD="ngModel">
                    </div>
                </div>
            </div>
        </div>
        
            <div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">DESCRIPCIÓN</label>
                    <textarea class="form-control" id="descripcion" rows="3" tabindex="9" name="descripcion"[class.is-invalid]="descrip.invalid && descrip.touched" [(ngModel)]="proveedor.descripcion" required #descrip="ngModel"></textarea>
                  </div>
            
    
                <div class="d-grid gap-2 col-2 mx-auto mt-5">
                    <button type="submit" [disabled]="btnRegistrar" class="btn btn-primary">REGISTRAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
    