<form autocomplete="off" #form="ngForm">

    <div id="tablaData">
        <section>
            <h2 class="centerxd">HOJA DE REPORTE</h2>
        </section>
        <section class="row">
            <div class="col-md-12">
                <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>
            </div>
        </section>
        <div class="container-fluid">
            <div class="card" *ngFor="let item of resultadoF">
                <div>
                    <div class="">
                        <div class="">
                            <label class="centerxd">{{item.idEstudio.ESTUDIO}} </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 elements">TIPO</div>
                            <div class="col-md-3 elements">ELEMENTOS</div>
                            <div class="col-md-3 elements">OBTENIDO</div>
                            <div class="col-md-3 elements">VALORES DE REFERENCIA</div>
                            <br>
                        </div>
                        <div *ngFor="let item of resultadoF">
                            <!-- poner un div -->
                            <div class="row" *ngFor="let it of item.idEstudio.ELEMENTOS; let i = index">
                                <div class="col-md-3">
                                    <p class="text-center elements">{{tipos[i]}}</p>
                                </div>
                                <div class="col-md-3">
                                    <!-- <pre>  {{item.idEstudio.ELEMENTOS[i].elementos | json}} </pre> -->
                                    <!--label class="col col-form-label">{{it.tipo}} </label-->
                                    <p class="text-center">{{it.elementos}} </p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-center">{{obtenido[i]}}</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text-center" *ngFor="let item of it.referencia">{{item.referencia}} </p>
                                </div>
                                <!--div class="col-md col-form-label" *ngFor="let item of it.referencia">
                                <label class="col col-form-label"></label>
                                <label class="col-md">{{item.referencia}} </label>
                            </div-->
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <p class="text">QFB SILVIA SUSANA ALVAREZ SALAZAR </p>
                            </div>
                            <div class="right">
                                <p class="text" *ngFor="let responsable of resultadoF"> {{responsable.quimico}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="text-center">  ATENTAMENTE  </label>
                            </div>
                            <div class="right">
                                <label class="text-center">  QUIMÍCO  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <button type="button" class="btn btn-outline-primary btn-block" (click)="">Descargar PDF</button> -->

    <div class="center forced-jump">
        <button type="button" class="btn btn-outline-primary btn-block hide-when-printing buttonSVY" (click)="USGpdf()">
            DESCARGAR PDF
        </button>
    </div>


    <!-- <div class="center">
        <a class="btn btn-outline-primary col-md-3" href="javascript:window.print('tablaData')" type="submit">  IMPRIMIR  </a>
    </div> -->
</form>
<br>