<div class="container-fluid">
  <p class="estilos">EDITAR EL SERVICIO</p>
  <div class="card cardPer container">
    <h2 class="title-secondary">DATOS DEL SERVICIO</h2>
    <form>
      <div class="row mt-2">
        <div class="col-md-2">
            <label class="mayus" for="nombre"> NOMBRE:</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="nombre" name="nombre"  placeholder="CENTRIFUGADO"  class="form-control shadow-input-bs" formControlName="nombre" />
        </div>


        <div class="col-md-2">
            <label class="mayus" for="idProducto"> ID: </label>
        </div>
        <div class="col-md-4">
            <input type="text"  disabled  name="idProducto" placeholder="2EK3j34R14U34U" id="idProducto" class="form-control shadow-input-bs" formControlName="idProducto" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-2">
            <label class="mayus">TIPO DE SERVICIO</label>
        </div>

        <div class="col-md-4">
            <select class="form-control shadow-input-bs" required>
                    <option>CONCENTRADO ELITROCITARIO</option>
                    <option>Hemoderivados</option>
                    <option>Servicios</option>
                    <option>Materiales</option>
            </select>            
        </div>
        <div class="col-md-2">
          <label class="mayus">COSTO</label>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control shadow-input-bs"  formControlName="costo" name="" />
          <div class="input-group-append">
              <span class="input-group-text">MX</span>
         </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-2">
           <label class="mayus">CATEGORIA</label>
        </div>
        <div class="col-md-4">
          <input type="text" id="nombre" name="nombre"  placeholder="CONCENTRADO ELITROCITARIO CENTRIFUGADO"  class="form-control shadow-input-bs" formControlName="nombre" />
        </div>
        <div class="col-md-2">
           <label class="mayus">PROFECIONAL A REALIZAR</label>
        </div>
        <div class="col-md-4">
           <input type="text" id="nombre" name="nombre"  placeholder="CONCENTRADO ELITROCITARIO CENTRIFUGADO"  class="form-control shadow-input-bs" formControlName="nombre" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-2">
          <label class="mayus">FABRICANTE/LAB.</label>
       </div>
       <div class="col-md-4">
         <input type="text" id="nombre" name="nombre"  placeholder="GENOMMA LAB."  class="form-control shadow-input-bs" formControlName="nombre" />
       </div>
      </div>
      <div class="row mt-12">
            <div class="col-md-2">
             <label class="mayus">HORARIOS</label>
            </div>
           <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">TODOS LOS DIAS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">LUNES</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">MARTES</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">MIERCOLES</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">JUEVES</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">VIERNES</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">SABADO</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">DOMINGO</label>
              </div>
            </div>
      </div>
      <h2 class="title-secondary">DESCRIPCION DEL SERVICIO</h2>
      <div class="row mt-4">
        <div class="col-md-2">
          <label class="mayus">DESCRIPCION</label>
         </div>
         <div class="col-md-12">                   
          <textarea class="mb-3" name="descripcion" id="" cols="2" rows="3" formControlName="descripcion"></textarea>
         </div>
      </div>
     
      <div class="row mt-4">
        <div class="col-md-2">
          <label class="mayus">PARTICIPANTES</label>
         </div>
         <div class="col-md-12">                   
          <textarea class="mb-3" name="descripcion" id="" cols="2" rows="3" formControlName="descripcion"></textarea>
         </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <label class="mayus">PRODUCTOS O MATERIALES</label>
         </div>
      </div>
      <div class="col-md-6">
        <input type="text" id="nombre" name="nombre"  placeholder="BUSCAR"  class="form-control shadow-input-bs" formControlName="nombre" />
     </div>
     <br>
     <div class="col-md-12">                   
      <textarea class="mb-3" name="descripcion" id="" cols="2" rows="3" formControlName="descripcion"></textarea>
     </div>
    
     <div class="row">
      <div class="col-md-2 offset-md-5">
        <button  class="btn btnPrincipalBS"  >
          ACTUALIZAR
      </button>

      </div>
     </div>
      



    </form>
  </div>
</div>