:root {
    --principal-text: #001672;
    --button-principal: #E3D049;
    --button-secondary: #00BBF1;
    --text-header: #03318c;
    --button-package: green;
    --font: 'Montserrat', sans-serif;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.title-header {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

.input-censur{
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 30px;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
    outline:none;
}


.text-upper {
    text-transform: uppercase;
}

.strongText {
    font-weight: 800;
    color: #001672;
}

.principalButton {
    border-radius: 3em;
    border: transparent;
    width: 12em;
    background-color: #E3D049;
    border-color: #E3D049;
    color: white;
}

.secondaryButton {
    border-radius: 3em;
    border: transparent;
    width: 12em;
    background-color: var(--button-secondary);
    border-color: var(--button-secondary);
    color: white;
}

.colorWhite {
    color: white;
}

.colorGreenEditIcon{
    color:#87FF3E;
}

.colorRed{
    color: red;
}
.center {
    text-align: center;
}

.text-principal {
    color: var(--principal-text);
}

.header {
    background-color: #00acd8;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.header__product--detail {
    background-color: #00acd8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}
.text_header-services {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 0 !important;
}

.fixed {
    position: fixed;
    display: inline-block;
}

.card-message{

    height: 35%;
    position: fixed;
    top: 41%;
    width: 50%;
    right: 28%;
 }

.btn:hover {
    color: white;
}
 .btnDangerRed {
     background-color: #FF0000;
 }

 .btnSuccessGreen{
     background-color: #13B42D;
 }
.card-body-tarjeta {
    overflow-y: scroll;
    max-height: 28rem;
}

.card-fixed {
    max-height: 29rem;
    right: 1.1rem;
    top: 11rem;
    bottom: 1.5rem;
}

.footer {
    position: absolute;
    bottom: 0px;
}

.fondo-negro {
    background-color: rgba(0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.btn-censur {
    background-color: #00ACD8;
    border: 1px solid rgba(112, 112, 112, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0.3rem;
    color: white;
    width: 20%;
}

.card {
    border-radius: 1.35rem !important;
}


/* Estilos de colores en bs */

.bg-color-blue-bs {
    background-color: #007CC3;
}

.font-color-bs { 
    color: #007CC3 !important;
}

/* estilos de los botones en bs */

.btnPrincipalBS {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #007CC3;
    color: #fff;
    border-radius: 2rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
}




/* esta clase le da los estilos a los titulos de BS */
.title-principal-bs {
    color: #686A8F;
    font-weight: 600;
    font-size: 2.2rem;
}



/* titulo de los forms */

.title-secondary{
    margin-top:0.4rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: #000000;
}


/* estilos de los inptus en bs agrega la sombra y el border redondeado*/
.shadow-input-bs {
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

/* agregar el cursor pinter a cualquier elemento */
.pointer {
    cursor: pointer;
}


.oculto {
    display: none;
}

.center {
    text-align: center;
}

.toast {
    position: fixed;
    right: 20rem;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media print {
    
    .noprint {
        display: none;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}