<div class="container-fluid">
    <h1 class="centerxd">BITÁCORA DE NO APTOS O DIFERIDOS</h1>
    <!-- <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar"  class="form-control" id="busquedaPaciente" >
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-1 text_header" style="text-align: left; margin-left: 15px;">
                            <p>No.</p>
                        </div>

                        <div class="col text_header">
                            <p>NOMBRE</p>
                        </div>
                        <div class="col-md-1 text_header">
                            <p>SEXO</p>
                        </div>
                        <div class="col text_header">
                            <p>EDAD</p>
                        </div>
                        <div class="col text_header">
                            <p>GRUPO Y RH</p>
                        </div>
                        <div class="col text_header">
                            <p>ESTATUS</p>
                        </div>
                        <div class="col text_header">
                            <p>PRECESO</p>
                        </div>
                        <div class="col text_header">
                            <p>MOTIVO</p>
                        </div>
                        <div class="col text_header">
                            <p>TIEMPO DE DIFERIDO</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div>
                        <div class="row" id="pointer">
                            <div class="col-md-1" style="text-align: left;">
                                <p>
                                    1
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    VICTOR MANUEL ARAGON CASTELLANOS
                                </p>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                <p>
                                    M
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    25 AÑOS
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    A+
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    DIFERIDO
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    AUTOEXCLUSIÓN
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    TATUAJES RECIENTES
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    12 MESES
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>