.form-control {
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.form-select{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
button{
    border-radius: 30px;
    width: 10em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.card{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.card-header{
    font-style: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 25px; 
    color: #ffffff;
    background-color:#007CC3;
}
.card-body{
    height: 30rem;
    color: black;
}
.card-footer{
    border-top: none;
}
.fa-edit{
    color: #87FF3E;
}
.fa-trash-alt{
    color: #FF0000;
}
.card-footer{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
}