h1{
    margin-left: 50px;
}
.card{
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #686A8F;
    margin: 50px;
}

.card h2{
    margin: 15px;
}

.card-heder{
    margin-left: 10px;
}

.card-heder .row .col{
    text-align: left;
    margin-left: 10px;
}

.card-heder p{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.card-body .row .col{
    text-align: left;
    margin-left: 10px;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

select{
    border-radius: 50px;
}

.productos{
    margin-top: 10px;
}

.principalButton{
    margin-top: 50px;
    height: 40px;
    width: 250px;
    font-size: 1.5rem;
    background-color: #00acd8 !important;
}