<div class="container-fluid">
    <h1>HOJA DE SERVICIOS</h1>
    <section>
        <!-- <app-ficha-info-censur [pacienteInfo]="paciente"></app-ficha-info-censur> -->
        <app-fichas-identificacion [data]="paciente" [rol]="'laboratorio'"></app-fichas-identificacion>
    </section>

    <div class="card">
        <h2>TIPAR Y CRUZAR</h2>
        <div class="card-heder">
            <div class="row">
                <div class="col">
                    <p>Producto</p>
                </div>
                <div class="col">
                    <p>Grupo y RH</p>
                </div>
                <div class="col">
                    <p>Grupo y RH</p>
                </div>
                <div class="col">
                    <p>Donador</p>
                </div>
                <div class="col">
                    <p>Resultados obtenidos</p>
                </div>
            </div>
        </div>
        <div class="card-body">
<!--             <div *ngFor="let item of concentrados">
                <div class="row" *ngIf="habilitar">
                    <div class="col">
                        CE
                    </div>
                    <div class="col">
                        {{paciente.tipoDeSangre}}
                    </div>
                    <div class="col" id="tipo">
                        <select name="tipoDeSangre" required ngModel id="sangre" class="form-control">
                            <option value="Tipo" selected>Seleccionar una opción</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="disponente" required ngModel id="disponente" class="form-control">
                            <option value="disponente" selected>Seleccionar una opción</option>
                            <option value="AB+">CHUCHITA PEREz</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="resultado" required ngModel id="resultado" class="form-control">
                            <option value="resultado" selected>Seleccionar una opción</option>
                            <option value="compatible">COMPATIBLE</option>
                            <option value="nocompatible">NO COMPATIBLE</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div *ngFor="let item of productos; let i = index">
                <div class="row productos">
                    <div class="col">
                        {{item.producto}}
                    </div>
                    <div class="col">
                        {{paciente.tipoDeSangre}}
                    </div>
                    <div class="col" id="tipo">
                        <select name="tipoDeSangre" required ngModel id="sangre" class="form-control" (change)="disponentes($event.target.value,i)">
                            <option value="Tipo" selected>Seleccionar una opción</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                    <div class="col">
                        <select [name]="item.idProducto" required [(ngModel)]="item.productos" [id]="item.idProducto" class="form-control">
                            <option value="disponente" selected>Seleccionar una opción</option>
                            <option value="AB+" *ngFor="let item of donantesTipoSangre[i]" >{{item.nombrePaciente}} {{item.apellidoPaterno}} {{item.apellidoMaterno }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="resultado" required ngModel id="resultado" class="form-control">
                            <option value="resultado" selected>Seleccionar una opción</option>
                            <option value="compatible">COMPATIBLE</option>
                            <option value="nocompatible">NO COMPATIBLE</option>
                        </select> 
                    </div>
                </div>
            </div>

            <div class="center">
                <button class="principalButton" (click)="guardar()"> Agregar </button>
            </div>
        </div>
    </div>
</div>