.centerxd{
    margin-top: 1em;
    font-weight: bold;
    font-size: 2.2rem;
    color: #999;
}
.card{
    margin-top: 1rem;
    border-radius: 24px;
    padding: 2em;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}
label{
    font-weight: bold;
}
.row{
    align-items: center;
}