<app-titulos [title]="'REGISTRO DE SERVICIOS'" [rol]="'almacen'"> </app-titulos>
<!-- <h2  class="title-principal-bs" >REGISTRO DE SERVICIOS </h2> -->

<div class="container-fluid">
    <div class="card">

        <div class="row">
            <div class="col-md-12">
        
                <form #form='ngForm' (ngSubmit)="onSubmit(form)">
                    <mat-horizontal-stepper linear #stepper style="background: none;">
                        <mat-step label="DATOS DEL SERVICIO">
                            
                            <h3 class="title-secondary" > DATOS DEL SERVICIO </h3>
                            
                            <div class="row mt-4">
                                <div class="col-md-3 mt-4">
                                    <label> NOMBRE: </label>
                                </div>
                                <div class="col-md-3 mt-4">
                                    <input matInput maxlength="50" type="text" required name="nombre" ngModel id="nombre" class="form-control input-censur">
                                </div>
        
                                <div class="col-md-3 mt-4">
                                    <label> ID:  </label>
                                </div>
        
                                <div class="col-md-3 mt-4">
                                    <input matInput maxlength="50" type="text" disabled name="idServicio" ngModel id="nombre" class="form-control input-censur">
                                </div>
        
                                <div class="col-md-3 mt-4">
                                    <label>    TIPO DE SERVICIO:  </label>
                                </div>
                            
                                <div class="col-md-3 mt-4">
                                    <input matInput maxlength="50" type="text" required name="tipoServicio" ngModel id="nombre" class="form-control input-censur">
                                </div>        
                                
                                <div class="col-md-3 mt-4">
                                    <label>    COSTO:  </label>
                                </div>
                            
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
        
                                        <input matInput maxlength="50" min="1" type="number" required name="costo" ngModel id="nombre" class="form-control input-censur">
                                    </div>
                                </div>        
        
                                
                                <div class="col-md-3 mt-3">
                                    <label>    CATEGORIA:  </label>
                                </div>
                            
                                <div class="col-md-3 mt-3">
                                    <select  matInput   required name="categoria" ngModel id="categoria" class="form-control input-censur" >
                                        <option value="urgente"> URGENTE </option>
                                        <option value="programado"> PROGRAMADO </option>
                                    </select>

                                </div>      
        
                                <div class="col-md-3 mt-3">
                                    <label>    PERSONAL A REALIZAR:  </label>
                                </div>
                            
                                <div class="col-md-3 mt-4">
                                    <input matInput  type="text" required name="profesionalARealizar" ngModel id="categoria" class="form-control input-censur">
                                </div>      
        
                            </div>
        
                            <div class="row mt-5">

                                <div class="col-md-1">
                                    <p> HORARIOS </p>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" id="todosLosDias" class="mr-1"  value="todosLosDias" (change)="addSchedule('todosLosDias')" name="todosLosDias" />
                                    <label for="todosLosDias"> TODOS LOS DÍAS </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="lunes" class="mr-1"  value="lunes" (change)="addSchedule('lunes')" name="lunes" />
                                    <label for="lunes"> LUNES </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="martes" class="mr-1"  value="martes" (change)="addSchedule('martes')" name="martes" />
                                    <label for="martes"> MARTES </label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" id="miercoles" class="mr-1"  value="miercoles" (change)="addSchedule('miercoles')" name="miercoles" />
                                    <label for="miercoles"> MIERCOLES </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="jueves" class="mr-1"  value="jueves" (change)="addSchedule('jueves')" name="jueves" />
                                    <label for="jueves"> JUEVES </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="viernes" class="mr-1"  value="viernes" (change)="addSchedule('viernes')" name="viernes" />
                                    <label for="viernes"> VIERNES </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="sabado" class="mr-1"  value="sabado" (change)="addSchedule('sabado')" name="sabado" />
                                    <label for="sabado"> SABADO </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="checkbox" id="domingo" class="mr-1"  value="domingo" (change)="addSchedule('domingo')" name="domingo" />
                                    <label for="domingo"> DOMINGO </label>
                                </div>
                            
                            </div>
        
                        </mat-step>

                        <mat-step label="DESCRIPCIÓN DEL SERVICIO">

                            <h3 class="title-secondary"> DESCRIPCIÒN DEL SERVICIO</h3>
        
                            <div class="row">
        
        
                                <div class="col-md-12 mt-2">
                                    <label>    DESCRIPCIÓN:  </label>
                                </div>
                            
                                <div class="col-md-12 mt-2">
                                    <textarea name="descripcion" ngModel id="descripcion" cols="170" rows="1"></textarea>
                                </div>
                                
                                
                                <div class="col-md-12 mt-2">
                                    <label>    PARTICIPANTES:  </label>
                                </div>
                            
                                <div class="col-md-12 mt-2">
                                    <textarea name="participantes"  required ngModel id="participantes" cols="170" rows="1"></textarea>
                                </div>
                            
                                <div class="col-md-7 mt-2 mb-2">
                                    <label>    PRODUCTOS O MATERIALES:  </label>

                                    <input type="text" id="" name="txtSearchInput"  [(ngModel)]="txtSearchInput"  placeholder="Buscar..." (keyup)="buscarProductosYMateriales()" class="form-control input-censur"/>
                                    
                                    <div class="card-select">
                                        <div class="row" *ngFor="let producto of productsAndServiceDB" >
                                            <div class="col-md-12">
                                                <p class="text-product text-center pointer"  (click)="addANewMaterial(producto.nombre)" > {{producto.nombre}}  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <textarea name="descripcion" required ngModel id="descripcion" cols="170" class="mt-4" rows="1"></textarea> -->
                                </div>

                                <div class="col-md-5">
                                    <div class="row mt-2" *ngFor="let productoOServicio of productsAndServiceJson; let i = index" >
                                        <div class="col-md-5">
                                            {{ productoOServicio  }}
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number" #fcantidad name="cantidad" (blur)="addACantidad(fcantidad, productoOServicio)" ngModel /> 
                                        </div>
                                        <div class="col-md-2">
                                            <i class="fa fa-times colorRed pointer" (click)="deleteProductFromJson(i)"></i>
                                        </div>
                                    </div>

                                </div>
        
                            </div>
        
                            <div class="row">
                                <div class="col-md-3 offset-4">
                                    <button type="submit" class="btn btnPrincipalBS"> 
        
                                        Registar
                                    </button>
                                </div>
                            </div>
                            
                        </mat-step>
                    </mat-horizontal-stepper>
                </form>
            </div>
            </div>
        
        </div>
</div>
