
label, p {
    color: #000000;
}

span {
    padding: 0.3em;
}

textarea {
    border-radius: 0.5rem;
}

.container-fluid {
    height: 72vh;
}

.form-control {
    width: 100%;
}
.card {
    width: 100%;
    height: 90%;
    border-radius: 0;
}

.card-select {

    width: 90%;
    max-width: 95%;
    height:  auto;
    max-height: 4rem;
    overflow-y: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.text-product:hover {
    color: #007CC3;
}

.text-product {
    padding: 0.5rem;
}


i {
    font-size: 1.8rem;
    
}