p, label{
    color: black !important;
    font-size: .8rem;
    font-weight: bold;
}

/* input{
    box-shadow: 6px 10px 15px 2px rgba(196, 192, 196, 1); 
    border-radius: .5rem;
    border: none;
} */

.row{
    margin-top: 15px;
}

.titulo{
    color: #001672 !important;
    font-size: 1rem;
}