.card{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
select{
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.card-header{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #2fb2fd;
    color: #ffffff;
}
.card-body{
    height:20em;
}
.card-footer{
    border-top: none;
    border-radius: 35px;
}
button{
    border-radius:30px;
}