.centerxd{
    margin-left: 75px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 2rem;
}

.cent{
    margin-left: 65px;
    margin-top: 20px;    
}

.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
    outline: none;
}

.input-group-text {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#principal{
    margin-top: 15px;
}

.title,
.fecha,
span {
    font-weight: 800;
    color: #00acd8;
}

p {
    color: black;
}

.card {
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 90%;
    margin-left: 50px;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

.row{
    margin: 15px;
}

input{
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 30px;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
    outline:none;
}

textarea{
    height: 185px;
    width: 90%;
    border: none;
    border-radius: 1em;
    box-shadow: 5px 2px 10px 2px rgba(196, 192, 196, 1);
    outline:none;
    margin-left: 40px;
    margin-bottom: 25px;
}

.buttons-content{
    display: flex;
    justify-content: center;
    height: 25%;
    margin-top: 2.5%;
}


.btn-left {
    margin-left: 10%;
}

.card {
    padding: 2rem;
}


.btn-rounded {
    border-radius:50%;
}

.text-color-input{
    color:white;
}

.btn-success {
    background-color: #87FF3E;
    border: none;
}
.btn-danger {
    background-color: #FF0000;
    border: none;
}
.color-input{
    background-color:#C4C4C4;
}