.card{
    border-radius: 30px; 
    margin-left: 25px;
}

mat-horizontal-stepper{
    background: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    margin-top: .5rem;
}

label {
    margin: .1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

h2{
    color: #00acd8;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
}

button {
    color: --button-package;
    /* display: block; */
}
.card{
    box-shadow: 3px 3px 10px gray;
}

input{
    border-radius: 3em !important;
    margin-bottom: 10px; 
}

select{
    border-radius: 3em !important;
    margin-bottom: 10px;
}

.principalButton{
    background-color: #00acd8 !important;
}