<div class="content">
    <form #form='ngForm'>
        <p> REACCIÓN POR VENOPUNCIÓN <span>(LEVE)</span> </p>
        <div>
            <input type="radio" value="HEMATOMA CIRCUNSCRITO AL SITIO DE PUNCIÓN (DIÁMETRO 1CM)" name="HEMATOMA CIRCUNSCRITO AL SITIO DE PUNCIÓN (DIÁMETRO 1CM)" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> HEMATOMA CIRCUNSCRITO AL SITIO DE PUNCIÓN (DIÁMETRO 1CM)</label>
        </div>
        <div>
            <input type="radio" value="INFLAMACIÓN CIRCUNSCRITA AL SITIO DE PUNCIÓN" name="INFLAMACIÓN CIRCUNSCRITA AL SITIO DE PUNCIÓN" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> INFLAMACIÓN CIRCUNSCRITA AL SITIO DE PUNCIÓN</label> 
        </div>
                

        <div>
            <p>OTROS SÍNTOMAS</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>


        <p> REACCIÓN POR VENOPUNCIÓN <span>(MODERADO)</span> </p>
        <div>    
            <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> HEMATOMA CON DIÁMETRO SUPERIOR A 1CM</label>
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> INFLAMACIÓN EXTENDIDA MÁS ALLÁ DE LA FOSA ANTECUBITAL</label> 
        </div>
        <div>
            <input type="radio" value="SI" name="medicamento_dutasterida" ngModel >
            <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> DERMATITIS</label> 
        </div>
        
        <div>
            <p>OTROS SÍNTOMAS</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>  

        <p> REACCIÓN POR VENOPUNCIÓN <span>(SEVERA)</span> </p>
        <div class="row">
            <div class="col">
                <div>
                    <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> CELULITIS</label>
                </div>
                <div>
                    <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> SÍNDROME COMPARTIMENTAL</label> 
                </div>
            </div>
            <div class="col">
                <div>
                    <input type="radio" value="SI" name="medicamento_acitretina" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> CAUSALGIA</label>
                </div>
                <div>
                    <input type="radio" value="SI" name="medicamento_tamoxifeno" ngModel >
                    <label class="form-check-label" style="margin-left: 10px; margin-top: 2px;"> FÍSTULA ARTERIO-VENOSA</label> 
                </div>
            </div>
        </div>

        <div>
            <p>OTROS SÍNTOMAS</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</div>